In [1]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [0]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q https://www-us.apache.org/dist/spark/spark-2.4.4/spark-2.4.4-bin-hadoop2.7.tgz
!tar xf /content/spark-2.4.4-bin-hadoop2.7.tgz
!pip install -q findspark

In [0]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-2.4.4-bin-hadoop2.7"

In [0]:
# To run spark on cluster
import findspark
findspark.init()
from pyspark.sql import SparkSession
spark= SparkSession.builder.master("local[*]").getOrCreate()

In [0]:
from pyspark.sql.types import *

In [0]:
# Spark context and Spark Session we consider it as as gateway to run spark
sc=spark.sparkContext

In [0]:
data_labels = spark.read.format("csv")\
         .option("header", "true")\
         .option("inferSchema", "true")\
         .load("/content/drive/My Drive/waterpoint_data_labels-1575881325136.csv")

In [81]:
data_labels.dtypes

[('id', 'int'), ('status_group', 'string')]

In [0]:
data_values = spark.read.format("csv")\
         .option("header", "true")\
         .option("inferSchema", "true")\
         .load("/content/drive/My Drive/waterpoint_data_values-1575881300405.csv")

In [83]:
data_values.dtypes

[('id', 'int'),
 ('amount_tsh', 'double'),
 ('date_recorded', 'timestamp'),
 ('funder', 'string'),
 ('gps_height', 'int'),
 ('installer', 'string'),
 ('longitude', 'double'),
 ('latitude', 'double'),
 ('wpt_name', 'string'),
 ('num_private', 'int'),
 ('basin', 'string'),
 ('subvillage', 'string'),
 ('region', 'string'),
 ('region_code', 'int'),
 ('district_code', 'int'),
 ('lga', 'string'),
 ('ward', 'string'),
 ('population', 'int'),
 ('public_meeting', 'boolean'),
 ('recorded_by', 'string'),
 ('scheme_management', 'string'),
 ('scheme_name', 'string'),
 ('permit', 'boolean'),
 ('construction_year', 'int'),
 ('extraction_type', 'string'),
 ('extraction_type_group', 'string'),
 ('extraction_type_class', 'string'),
 ('management', 'string'),
 ('management_group', 'string'),
 ('payment', 'string'),
 ('payment_type', 'string'),
 ('water_quality', 'string'),
 ('quality_group', 'string'),
 ('quantity', 'string'),
 ('quantity_group', 'string'),
 ('source', 'string'),
 ('source_type', 'string'),
 ('source_class', 'string'),
 ('waterpoint_type', 'string'),
 ('waterpoint_type_group', 'string')]

In [0]:
### Task1:​ Create the schema for the two files and two different dataframes for the two  files

In [0]:
data_values_Schema = StructType([
    StructField("id", IntegerType(), True),
    StructField("amount_tsh", DoubleType(), True),
    StructField("date_recorded", TimestampType(), True),
    StructField("funder", StringType(), True),
    StructField("gps_height", IntegerType(), True),
    StructField("installer", StringType(), True),
    StructField("longitude", DoubleType(), True),
    StructField("latitude", DoubleType(), True),
    StructField("wpt_name", StringType(), True),
    StructField("num_private", IntegerType(), True),
    StructField("basin", StringType(), True),
    StructField("subvillage", StringType(), True),
    StructField("region", StringType(), True),
    StructField("region_code", IntegerType(), True),
    StructField("district_code", IntegerType(), True),
    StructField("lga", StringType(), True),
    StructField("ward", StringType(), True),
    StructField("population", IntegerType(), True),
    StructField("public_meeting", StringType(), True),
    StructField("recorded_by", StringType(), True),
    StructField("scheme_management", StringType(), True),
    StructField("scheme_name", StringType(), True),
    StructField("permit", BooleanType(), True),
    StructField("construction_year", IntegerType(), True),
    StructField("extraction_type", StringType(), True),
    StructField("extraction_type_group", StringType(), True),
    StructField("extraction_type_class", StringType(), True),
    StructField("management", StringType(), True),
    StructField("management_group", StringType(), True),
    StructField("payment", StringType(), True),
    StructField("payment_type", StringType(), True),
    StructField("water_quality", StringType(), True),
    StructField("quality_group", StringType(), True),
    StructField("quantity", StringType(), True),
    StructField("quantity_group", StringType(), True),
    StructField("source", StringType(), True),
    StructField("source_type", StringType(), True),
    StructField("source_class", StringType(), True),
    StructField("waterpoint_type", StringType(), True),
    StructField("waterpoint_type_group", StringType(), True)
])

data_labels_Schema = StructType([
    StructField("id", IntegerType(), True),
    StructField("status_group", StringType(), True)
])

In [0]:
data_values_df=train_DF=spark.read.csv('/content/drive/My Drive/waterpoint_data_values-1575881300405.csv',header=True,schema=data_values_Schema)
data_labels_df=train_DF=spark.read.csv('/content/drive/My Drive/waterpoint_data_labels-1575881325136.csv',header=True,schema=data_labels_Schema)

In [87]:
print(data_values_df.dtypes)
print(data_labels_df.dtypes)

[('id', 'int'), ('amount_tsh', 'double'), ('date_recorded', 'timestamp'), ('funder', 'string'), ('gps_height', 'int'), ('installer', 'string'), ('longitude', 'double'), ('latitude', 'double'), ('wpt_name', 'string'), ('num_private', 'int'), ('basin', 'string'), ('subvillage', 'string'), ('region', 'string'), ('region_code', 'int'), ('district_code', 'int'), ('lga', 'string'), ('ward', 'string'), ('population', 'int'), ('public_meeting', 'string'), ('recorded_by', 'string'), ('scheme_management', 'string'), ('scheme_name', 'string'), ('permit', 'boolean'), ('construction_year', 'int'), ('extraction_type', 'string'), ('extraction_type_group', 'string'), ('extraction_type_class', 'string'), ('management', 'string'), ('management_group', 'string'), ('payment', 'string'), ('payment_type', 'string'), ('water_quality', 'string'), ('quality_group', 'string'), ('quantity', 'string'), ('quantity_group', 'string'), ('source', 'string'), ('source_type', 'string'), ('source_class', 'string'), ('waterpoint_type', 'string'), ('waterpoint_type_group', 'string')]
[('id', 'int'), ('status_group', 'string')]

In [0]:
### Task2: ​Verify the row counts of the two dataFrames and check whether the counts are matching or not

In [89]:
print("Number of records in waterpoint_data_values-1575881300405.csv file is ",data_values_df.count())
print("Number of records in waterpoint_data_labels-1575881325136.csv file is ",data_labels_df.count())

if data_labels_df.count()==data_values_df.count():
  print("Equal number of records in both files")
else:
  print("Not Equal number of records in both files")

Number of records in waterpoint_data_values-1575881300405.csv file is  59400
Number of records in waterpoint_data_labels-1575881325136.csv file is  59400
Equal number of records in both files

In [0]:
### Task3:​ Verify first few rows of both the dataFrames and identify the common column name (key).

In [91]:
data_values_df.show(4,truncate=False)
data_labels_df.show(4,truncate=False)

+-----+----------+-------------------+------------+----------+------------+-----------+------------+--------------------+-----------+-----------------------+----------+-------+-----------+-------------+---------+--------+----------+--------------+-----------------------+-----------------+---------------------------+------+-----------------+---------------+---------------------+---------------------+----------+----------------+--------------+------------+-------------+-------------+------------+--------------+--------------------+--------------------+------------+---------------------------+---------------------+
|id   |amount_tsh|date_recorded      |funder      |gps_height|installer   |longitude  |latitude    |wpt_name            |num_private|basin                  |subvillage|region |region_code|district_code|lga      |ward    |population|public_meeting|recorded_by            |scheme_management|scheme_name                |permit|construction_year|extraction_type|extraction_type_group|extraction_type_class|management|management_group|payment       |payment_type|water_quality|quality_group|quantity    |quantity_group|source              |source_type         |source_class|waterpoint_type            |waterpoint_type_group|
+-----+----------+-------------------+------------+----------+------------+-----------+------------+--------------------+-----------+-----------------------+----------+-------+-----------+-------------+---------+--------+----------+--------------+-----------------------+-----------------+---------------------------+------+-----------------+---------------+---------------------+---------------------+----------+----------------+--------------+------------+-------------+-------------+------------+--------------+--------------------+--------------------+------------+---------------------------+---------------------+
|69572|6000.0    |2011-03-14 00:00:00|Roman       |1390      |Roman       |34.93809275|-9.85632177 |none                |0          |Lake Nyasa             |Mnyusi B  |Iringa |11         |5            |Ludewa   |Mundindi|109       |True          |GeoData Consultants Ltd|VWC              |Roman                      |false |1999             |gravity        |gravity              |gravity              |vwc       |user-group      |pay annually  |annually    |soft         |good         |enough      |enough        |spring              |spring              |groundwater |communal standpipe         |communal standpipe   |
|8776 |0.0       |2013-03-06 00:00:00|Grumeti     |1399      |GRUMETI     |34.6987661 |-2.14746569 |Zahanati            |0          |Lake Victoria          |Nyamara   |Mara   |20         |2            |Serengeti|Natta   |280       |null          |GeoData Consultants Ltd|Other            |null                       |true  |2010             |gravity        |gravity              |gravity              |wug       |user-group      |never pay     |never pay   |soft         |good         |insufficient|insufficient  |rainwater harvesting|rainwater harvesting|surface     |communal standpipe         |communal standpipe   |
|34310|25.0      |2013-02-25 00:00:00|Lottery Club|686       |World vision|37.46066446|-3.82132853 |Kwa Mahundi         |0          |Pangani                |Majengo   |Manyara|21         |4            |Simanjiro|Ngorika |250       |True          |GeoData Consultants Ltd|VWC              |Nyumba ya mungu pipe scheme|true  |2009             |gravity        |gravity              |gravity              |vwc       |user-group      |pay per bucket|per bucket  |soft         |good         |enough      |enough        |dam                 |dam                 |surface     |communal standpipe multiple|communal standpipe   |
|67743|0.0       |2013-01-28 00:00:00|Unicef      |263       |UNICEF      |38.48616088|-11.15529772|Zahanati Ya Nanyumbu|0          |Ruvuma / Southern Coast|Mahakamani|Mtwara |90         |63           |Nanyumbu |Nanyumbu|58        |True          |GeoData Consultants Ltd|VWC              |null                       |true  |1986             |submersible    |submersible          |submersible          |vwc       |user-group      |never pay     |never pay   |soft         |good         |dry         |dry           |machine dbh         |borehole            |groundwater |communal standpipe multiple|communal standpipe   |
+-----+----------+-------------------+------------+----------+------------+-----------+------------+--------------------+-----------+-----------------------+----------+-------+-----------+-------------+---------+--------+----------+--------------+-----------------------+-----------------+---------------------------+------+-----------------+---------------+---------------------+---------------------+----------+----------------+--------------+------------+-------------+-------------+------------+--------------+--------------------+--------------------+------------+---------------------------+---------------------+
only showing top 4 rows

+-----+--------------+
|id   |status_group  |
+-----+--------------+
|69572|functional    |
|8776 |functional    |
|34310|functional    |
|67743|non functional|
+-----+--------------+
only showing top 4 rows

In [92]:
common_cols=[x for x in data_labels_df.columns if x in data_values_df.columns]
print("The common column name/names = ",common_cols)

The common column name/names =  ['id']

In [0]:
### Task4: ​Create a DataFrame in cache by combining both the Data Frames using the above common column using ​broadcast join​(key)

In [0]:
from pyspark.sql.functions import broadcast

In [0]:
combined_data_df=data_values_df.join(
  broadcast(data_labels_df),
  data_values_df["id"]==data_labels_df["id"]
).drop(data_labels_df["id"])

In [96]:
combined_data_df.show(5,truncate=False)

+-----+----------+-------------------+------------+----------+------------+-----------+------------+--------------------+-----------+-----------------------+----------+-------+-----------+-------------+---------+----------+----------+--------------+-----------------------+-----------------+---------------------------+------+-----------------+---------------+---------------------+---------------------+----------+----------------+--------------+------------+-------------+-------------+------------+--------------+--------------------+--------------------+------------+---------------------------+---------------------+--------------+
|id   |amount_tsh|date_recorded      |funder      |gps_height|installer   |longitude  |latitude    |wpt_name            |num_private|basin                  |subvillage|region |region_code|district_code|lga      |ward      |population|public_meeting|recorded_by            |scheme_management|scheme_name                |permit|construction_year|extraction_type|extraction_type_group|extraction_type_class|management|management_group|payment       |payment_type|water_quality|quality_group|quantity    |quantity_group|source              |source_type         |source_class|waterpoint_type            |waterpoint_type_group|status_group  |
+-----+----------+-------------------+------------+----------+------------+-----------+------------+--------------------+-----------+-----------------------+----------+-------+-----------+-------------+---------+----------+----------+--------------+-----------------------+-----------------+---------------------------+------+-----------------+---------------+---------------------+---------------------+----------+----------------+--------------+------------+-------------+-------------+------------+--------------+--------------------+--------------------+------------+---------------------------+---------------------+--------------+
|69572|6000.0    |2011-03-14 00:00:00|Roman       |1390      |Roman       |34.93809275|-9.85632177 |none                |0          |Lake Nyasa             |Mnyusi B  |Iringa |11         |5            |Ludewa   |Mundindi  |109       |True          |GeoData Consultants Ltd|VWC              |Roman                      |false |1999             |gravity        |gravity              |gravity              |vwc       |user-group      |pay annually  |annually    |soft         |good         |enough      |enough        |spring              |spring              |groundwater |communal standpipe         |communal standpipe   |functional    |
|8776 |0.0       |2013-03-06 00:00:00|Grumeti     |1399      |GRUMETI     |34.6987661 |-2.14746569 |Zahanati            |0          |Lake Victoria          |Nyamara   |Mara   |20         |2            |Serengeti|Natta     |280       |null          |GeoData Consultants Ltd|Other            |null                       |true  |2010             |gravity        |gravity              |gravity              |wug       |user-group      |never pay     |never pay   |soft         |good         |insufficient|insufficient  |rainwater harvesting|rainwater harvesting|surface     |communal standpipe         |communal standpipe   |functional    |
|34310|25.0      |2013-02-25 00:00:00|Lottery Club|686       |World vision|37.46066446|-3.82132853 |Kwa Mahundi         |0          |Pangani                |Majengo   |Manyara|21         |4            |Simanjiro|Ngorika   |250       |True          |GeoData Consultants Ltd|VWC              |Nyumba ya mungu pipe scheme|true  |2009             |gravity        |gravity              |gravity              |vwc       |user-group      |pay per bucket|per bucket  |soft         |good         |enough      |enough        |dam                 |dam                 |surface     |communal standpipe multiple|communal standpipe   |functional    |
|67743|0.0       |2013-01-28 00:00:00|Unicef      |263       |UNICEF      |38.48616088|-11.15529772|Zahanati Ya Nanyumbu|0          |Ruvuma / Southern Coast|Mahakamani|Mtwara |90         |63           |Nanyumbu |Nanyumbu  |58        |True          |GeoData Consultants Ltd|VWC              |null                       |true  |1986             |submersible    |submersible          |submersible          |vwc       |user-group      |never pay     |never pay   |soft         |good         |dry         |dry           |machine dbh         |borehole            |groundwater |communal standpipe multiple|communal standpipe   |non functional|
|19728|0.0       |2011-07-13 00:00:00|Action In A |0         |Artisan     |31.13084671|-1.82535885 |Shuleni             |0          |Lake Victoria          |Kyanyamisa|Kagera |18         |1            |Karagwe  |Nyakasimbi|0         |True          |GeoData Consultants Ltd|null             |null                       |true  |0                |gravity        |gravity              |gravity              |other     |other           |never pay     |never pay   |soft         |good         |seasonal    |seasonal      |rainwater harvesting|rainwater harvesting|surface     |communal standpipe         |communal standpipe   |functional    |
+-----+----------+-------------------+------------+----------+------------+-----------+------------+--------------------+-----------+-----------------------+----------+-------+-----------+-------------+---------+----------+----------+--------------+-----------------------+-----------------+---------------------------+------+-----------------+---------------+---------------------+---------------------+----------+----------------+--------------+------------+-------------+-------------+------------+--------------+--------------------+--------------------+------------+---------------------------+---------------------+--------------+
only showing top 5 rows

In [97]:
combined_data_df.cache()

DataFrame[id: int, amount_tsh: double, date_recorded: timestamp, funder: string, gps_height: int, installer: string, longitude: double, latitude: double, wpt_name: string, num_private: int, basin: string, subvillage: string, region: string, region_code: int, district_code: int, lga: string, ward: string, population: int, public_meeting: string, recorded_by: string, scheme_management: string, scheme_name: string, permit: boolean, construction_year: int, extraction_type: string, extraction_type_group: string, extraction_type_class: string, management: string, management_group: string, payment: string, payment_type: string, water_quality: string, quality_group: string, quantity: string, quantity_group: string, source: string, source_type: string, source_class: string, waterpoint_type: string, waterpoint_type_group: string, status_group: string]

In [0]:
### Task5:​ Verify the row counts after the combined Data Frame

In [99]:
print("Number of records in Combined Data Frame is",combined_data_df.count())

Number of records in Combined Data Frame is 59400

In [0]:
### Task6:​ Verify the distribution for the target variable using Spark SQL and visualize the distribution using plots

In [0]:
import chart_studio
import chart_studio.plotly as py
import plotly.graph_objects as go
chart_studio.tools.set_credentials_file(username='cvsampath', api_key='6FkvJiWNVtJEHXLSVV9e')

In [0]:
combined_data_df.createOrReplaceTempView('combined_data_df_Table')

In [0]:
resultDF=spark.sql("""
Select status_group,count(*) as count from combined_data_df_Table
group by status_group
order by count desc
""")

In [104]:
resultDF.show(truncate=False)

+-----------------------+-----+
|status_group           |count|
+-----------------------+-----+
|functional             |32259|
|non functional         |22824|
|functional needs repair|4317 |
+-----------------------+-----+

In [105]:
type(resultDF)

pyspark.sql.dataframe.DataFrame

In [106]:
pdDF = resultDF.toPandas()
data = [
    go.Bar(
        x=pdDF['status_group'], 
        y=pdDF['count']
    )
]
layout = go.Layout(title='Distribution of Target Variable status_group ')
fig = go.Figure(data=data, layout=layout)
fig.update_xaxes(title_text='Status Group')
fig.update_yaxes(title_text='Count')
py.iplot(fig, filename='plot_1')

In [0]:
### Task7: ​For the categorical variables  ‘construction_year’,’water_quality’,’source_class’,’scheme_management’,’waterpoint_type_group’, find the distribution of these variables with the target variable ​‘status_group’. Visualize​ the data for these data frames.

In [0]:
cat_cols=['construction_year','water_quality','source_class','scheme_management','waterpoint_type_group']

In [109]:
col1='status_group'
col2=cat_cols[0]
crosstab_df=combined_data_df.crosstab(col1,col2)
crosstab_df.show(truncate=False)
cols=list(crosstab_df.toPandas().columns[1:])
print("Number of unique levels in "+col2.replace('_',' ').upper()+" =",len(cols))
status_grp=list(crosstab_df.toPandas()[crosstab_df.toPandas().columns[0]])

fig = go.Figure(data=[
    #go.Bar(name=cols[0], x=status_grp, y=list(crosstab_df.toPandas()[cols[0]])),
    go.Bar(name=cols[1], x=status_grp, y=list(crosstab_df.toPandas()[cols[1]])),
    go.Bar(name=cols[2], x=status_grp, y=list(crosstab_df.toPandas()[cols[2]])),
    go.Bar(name=cols[3], x=status_grp, y=list(crosstab_df.toPandas()[cols[3]])),
    go.Bar(name=cols[4], x=status_grp, y=list(crosstab_df.toPandas()[cols[4]])),
    go.Bar(name=cols[5], x=status_grp, y=list(crosstab_df.toPandas()[cols[5]])),
    go.Bar(name=cols[6], x=status_grp, y=list(crosstab_df.toPandas()[cols[6]])),
    go.Bar(name=cols[7], x=status_grp, y=list(crosstab_df.toPandas()[cols[7]])),
    go.Bar(name=cols[8], x=status_grp, y=list(crosstab_df.toPandas()[cols[8]])),
    go.Bar(name=cols[9], x=status_grp, y=list(crosstab_df.toPandas()[cols[9]])),
    go.Bar(name=cols[10], x=status_grp, y=list(crosstab_df.toPandas()[cols[10]])),
    go.Bar(name=cols[11], x=status_grp, y=list(crosstab_df.toPandas()[cols[11]])),
    go.Bar(name=cols[12], x=status_grp, y=list(crosstab_df.toPandas()[cols[12]])),
    go.Bar(name=cols[13], x=status_grp, y=list(crosstab_df.toPandas()[cols[13]])),
    go.Bar(name=cols[14], x=status_grp, y=list(crosstab_df.toPandas()[cols[14]])),
    go.Bar(name=cols[15], x=status_grp, y=list(crosstab_df.toPandas()[cols[15]])),
    go.Bar(name=cols[16], x=status_grp, y=list(crosstab_df.toPandas()[cols[16]])),
    go.Bar(name=cols[17], x=status_grp, y=list(crosstab_df.toPandas()[cols[17]])),
    go.Bar(name=cols[18], x=status_grp, y=list(crosstab_df.toPandas()[cols[18]])),
    go.Bar(name=cols[19], x=status_grp, y=list(crosstab_df.toPandas()[cols[19]])),
    go.Bar(name=cols[20], x=status_grp, y=list(crosstab_df.toPandas()[cols[20]])),
    go.Bar(name=cols[21], x=status_grp, y=list(crosstab_df.toPandas()[cols[21]])),
    go.Bar(name=cols[22], x=status_grp, y=list(crosstab_df.toPandas()[cols[22]])),
    go.Bar(name=cols[23], x=status_grp, y=list(crosstab_df.toPandas()[cols[23]])),
    go.Bar(name=cols[24], x=status_grp, y=list(crosstab_df.toPandas()[cols[24]])),
    go.Bar(name=cols[25], x=status_grp, y=list(crosstab_df.toPandas()[cols[25]])),
    go.Bar(name=cols[26], x=status_grp, y=list(crosstab_df.toPandas()[cols[26]])),
    go.Bar(name=cols[27], x=status_grp, y=list(crosstab_df.toPandas()[cols[27]])),
    go.Bar(name=cols[28], x=status_grp, y=list(crosstab_df.toPandas()[cols[28]])),
    go.Bar(name=cols[29], x=status_grp, y=list(crosstab_df.toPandas()[cols[29]])),
    go.Bar(name=cols[30], x=status_grp, y=list(crosstab_df.toPandas()[cols[30]])),
    go.Bar(name=cols[31], x=status_grp, y=list(crosstab_df.toPandas()[cols[31]])),
    go.Bar(name=cols[32], x=status_grp, y=list(crosstab_df.toPandas()[cols[32]])),
    go.Bar(name=cols[33], x=status_grp, y=list(crosstab_df.toPandas()[cols[33]])),
    go.Bar(name=cols[34], x=status_grp, y=list(crosstab_df.toPandas()[cols[34]])),
    go.Bar(name=cols[35], x=status_grp, y=list(crosstab_df.toPandas()[cols[35]])),
    go.Bar(name=cols[36], x=status_grp, y=list(crosstab_df.toPandas()[cols[36]])),
    go.Bar(name=cols[37], x=status_grp, y=list(crosstab_df.toPandas()[cols[37]])),
    go.Bar(name=cols[38], x=status_grp, y=list(crosstab_df.toPandas()[cols[38]])),
    go.Bar(name=cols[39], x=status_grp, y=list(crosstab_df.toPandas()[cols[39]])),
    go.Bar(name=cols[40], x=status_grp, y=list(crosstab_df.toPandas()[cols[40]])),
    go.Bar(name=cols[41], x=status_grp, y=list(crosstab_df.toPandas()[cols[41]])),
    go.Bar(name=cols[42], x=status_grp, y=list(crosstab_df.toPandas()[cols[42]])),
    go.Bar(name=cols[43], x=status_grp, y=list(crosstab_df.toPandas()[cols[43]])),
    go.Bar(name=cols[44], x=status_grp, y=list(crosstab_df.toPandas()[cols[44]])),
    go.Bar(name=cols[45], x=status_grp, y=list(crosstab_df.toPandas()[cols[45]])),
    go.Bar(name=cols[46], x=status_grp, y=list(crosstab_df.toPandas()[cols[46]])),
    go.Bar(name=cols[47], x=status_grp, y=list(crosstab_df.toPandas()[cols[47]])),
    go.Bar(name=cols[48], x=status_grp, y=list(crosstab_df.toPandas()[cols[48]])),
    go.Bar(name=cols[49], x=status_grp, y=list(crosstab_df.toPandas()[cols[49]])),
    go.Bar(name=cols[50], x=status_grp, y=list(crosstab_df.toPandas()[cols[50]])),
    go.Bar(name=cols[51], x=status_grp, y=list(crosstab_df.toPandas()[cols[51]])),
    go.Bar(name=cols[52], x=status_grp, y=list(crosstab_df.toPandas()[cols[52]])),
    go.Bar(name=cols[53], x=status_grp, y=list(crosstab_df.toPandas()[cols[53]])),
    go.Bar(name=cols[54], x=status_grp, y=list(crosstab_df.toPandas()[cols[54]]))
])


fig.update_layout(title_text="Distribution of "+col2.replace('_',' ').upper()+" with "+col1.replace('_',' ').upper(),barmode='group')
fig.update_xaxes(title_text=col1.replace('_',' ').upper())
fig.update_yaxes(title_text='Count'.upper())
py.iplot(fig, filename='plot_2')

+------------------------------+-----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+
|status_group_construction_year|0    |1960|1961|1962|1963|1964|1965|1966|1967|1968|1969|1970|1971|1972|1973|1974|1975|1976|1977|1978|1979|1980|1981|1982|1983|1984|1985|1986|1987|1988|1989|1990|1991|1992|1993|1994|1995|1996|1997|1998|1999|2000|2001|2002|2003|2004|2005|2006|2007|2008|2009|2010|2011|2012|2013|
+------------------------------+-----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+
|functional                    |10555|24  |2   |7   |31  |7   |11  |6   |31  |22  |15  |99  |82  |178 |55  |234 |144 |85  |62  |426 |41  |258 |85  |236 |187 |365 |324 |212 |143 |245 |165 |466 |141 |361 |285 |380 |593 |386 |291 |542 |694 |1279|331 |692 |828 |704 |578 |883 |1081|1839|1774|2023|943 |726 |102 |
|non functional                |8365 |72  |16  |22  |48  |32  |7   |11  |40  |51  |41  |297 |57  |462 |121 |403 |252 |277 |130 |514 |139 |493 |142 |454 |280 |348 |537 |188 |122 |234 |137 |429 |166 |238 |289 |315 |346 |377 |286 |337 |238 |676 |172 |325 |387 |349 |344 |453 |390 |647 |621 |532 |235 |307 |73  |
|functional needs repair       |1789 |6   |3   |1   |6   |1   |1   |0   |17  |4   |3   |15  |6   |68  |8   |39  |41  |52  |10  |97  |12  |60  |11  |54  |21  |66  |84  |34  |37  |42  |14  |59  |17  |41  |34  |43  |75  |48  |67  |87  |47  |136 |37  |58  |71  |70  |89  |135 |116 |127 |138 |90  |78  |51  |1   |
+------------------------------+-----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+

Number of unique levels in CONSTRUCTION YEAR = 55

In [110]:
col1='status_group'
col2=cat_cols[0]
crosstab_df=combined_data_df.crosstab(col1,col2)
crosstab_df.show(truncate=False)
cols=list(crosstab_df.toPandas().columns[1:])
print("Number of unique levels in "+col2.replace('_',' ').upper()+" =",len(cols))
status_grp=list(crosstab_df.toPandas()[crosstab_df.toPandas().columns[0]])

fig = go.Figure(data=[
    go.Bar(name=cols[0], x=status_grp, y=list(crosstab_df.toPandas()[cols[0]])),
    go.Bar(name=cols[1], x=status_grp, y=list(crosstab_df.toPandas()[cols[1]])),
    go.Bar(name=cols[2], x=status_grp, y=list(crosstab_df.toPandas()[cols[2]])),
    go.Bar(name=cols[3], x=status_grp, y=list(crosstab_df.toPandas()[cols[3]])),
    go.Bar(name=cols[4], x=status_grp, y=list(crosstab_df.toPandas()[cols[4]])),
    go.Bar(name=cols[5], x=status_grp, y=list(crosstab_df.toPandas()[cols[5]])),
    go.Bar(name=cols[6], x=status_grp, y=list(crosstab_df.toPandas()[cols[6]])),
    go.Bar(name=cols[7], x=status_grp, y=list(crosstab_df.toPandas()[cols[7]])),
    go.Bar(name=cols[8], x=status_grp, y=list(crosstab_df.toPandas()[cols[8]])),
    go.Bar(name=cols[9], x=status_grp, y=list(crosstab_df.toPandas()[cols[9]])),
    go.Bar(name=cols[10], x=status_grp, y=list(crosstab_df.toPandas()[cols[10]])),
    go.Bar(name=cols[11], x=status_grp, y=list(crosstab_df.toPandas()[cols[11]])),
    go.Bar(name=cols[12], x=status_grp, y=list(crosstab_df.toPandas()[cols[12]])),
    go.Bar(name=cols[13], x=status_grp, y=list(crosstab_df.toPandas()[cols[13]])),
    go.Bar(name=cols[14], x=status_grp, y=list(crosstab_df.toPandas()[cols[14]])),
    go.Bar(name=cols[15], x=status_grp, y=list(crosstab_df.toPandas()[cols[15]])),
    go.Bar(name=cols[16], x=status_grp, y=list(crosstab_df.toPandas()[cols[16]])),
    go.Bar(name=cols[17], x=status_grp, y=list(crosstab_df.toPandas()[cols[17]])),
    go.Bar(name=cols[18], x=status_grp, y=list(crosstab_df.toPandas()[cols[18]])),
    go.Bar(name=cols[19], x=status_grp, y=list(crosstab_df.toPandas()[cols[19]])),
    go.Bar(name=cols[20], x=status_grp, y=list(crosstab_df.toPandas()[cols[20]])),
    go.Bar(name=cols[21], x=status_grp, y=list(crosstab_df.toPandas()[cols[21]])),
    go.Bar(name=cols[22], x=status_grp, y=list(crosstab_df.toPandas()[cols[22]])),
    go.Bar(name=cols[23], x=status_grp, y=list(crosstab_df.toPandas()[cols[23]])),
    go.Bar(name=cols[24], x=status_grp, y=list(crosstab_df.toPandas()[cols[24]])),
    go.Bar(name=cols[25], x=status_grp, y=list(crosstab_df.toPandas()[cols[25]])),
    go.Bar(name=cols[26], x=status_grp, y=list(crosstab_df.toPandas()[cols[26]])),
    go.Bar(name=cols[27], x=status_grp, y=list(crosstab_df.toPandas()[cols[27]])),
    go.Bar(name=cols[28], x=status_grp, y=list(crosstab_df.toPandas()[cols[28]])),
    go.Bar(name=cols[29], x=status_grp, y=list(crosstab_df.toPandas()[cols[29]])),
    go.Bar(name=cols[30], x=status_grp, y=list(crosstab_df.toPandas()[cols[30]])),
    go.Bar(name=cols[31], x=status_grp, y=list(crosstab_df.toPandas()[cols[31]])),
    go.Bar(name=cols[32], x=status_grp, y=list(crosstab_df.toPandas()[cols[32]])),
    go.Bar(name=cols[33], x=status_grp, y=list(crosstab_df.toPandas()[cols[33]])),
    go.Bar(name=cols[34], x=status_grp, y=list(crosstab_df.toPandas()[cols[34]])),
    go.Bar(name=cols[35], x=status_grp, y=list(crosstab_df.toPandas()[cols[35]])),
    go.Bar(name=cols[36], x=status_grp, y=list(crosstab_df.toPandas()[cols[36]])),
    go.Bar(name=cols[37], x=status_grp, y=list(crosstab_df.toPandas()[cols[37]])),
    go.Bar(name=cols[38], x=status_grp, y=list(crosstab_df.toPandas()[cols[38]])),
    go.Bar(name=cols[39], x=status_grp, y=list(crosstab_df.toPandas()[cols[39]])),
    go.Bar(name=cols[40], x=status_grp, y=list(crosstab_df.toPandas()[cols[40]])),
    go.Bar(name=cols[41], x=status_grp, y=list(crosstab_df.toPandas()[cols[41]])),
    go.Bar(name=cols[42], x=status_grp, y=list(crosstab_df.toPandas()[cols[42]])),
    go.Bar(name=cols[43], x=status_grp, y=list(crosstab_df.toPandas()[cols[43]])),
    go.Bar(name=cols[44], x=status_grp, y=list(crosstab_df.toPandas()[cols[44]])),
    go.Bar(name=cols[45], x=status_grp, y=list(crosstab_df.toPandas()[cols[45]])),
    go.Bar(name=cols[46], x=status_grp, y=list(crosstab_df.toPandas()[cols[46]])),
    go.Bar(name=cols[47], x=status_grp, y=list(crosstab_df.toPandas()[cols[47]])),
    go.Bar(name=cols[48], x=status_grp, y=list(crosstab_df.toPandas()[cols[48]])),
    go.Bar(name=cols[49], x=status_grp, y=list(crosstab_df.toPandas()[cols[49]])),
    go.Bar(name=cols[50], x=status_grp, y=list(crosstab_df.toPandas()[cols[50]])),
    go.Bar(name=cols[51], x=status_grp, y=list(crosstab_df.toPandas()[cols[51]])),
    go.Bar(name=cols[52], x=status_grp, y=list(crosstab_df.toPandas()[cols[52]])),
    go.Bar(name=cols[53], x=status_grp, y=list(crosstab_df.toPandas()[cols[53]])),
    go.Bar(name=cols[54], x=status_grp, y=list(crosstab_df.toPandas()[cols[54]]))
])


fig.update_layout(title_text="Distribution of "+col2.replace('_',' ').upper()+" with "+col1.replace('_',' ').upper(),barmode='group')
fig.update_xaxes(title_text=col1.replace('_',' ').upper())
fig.update_yaxes(title_text='Count'.upper())
py.iplot(fig, filename='plot_3')

+------------------------------+-----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+
|status_group_construction_year|0    |1960|1961|1962|1963|1964|1965|1966|1967|1968|1969|1970|1971|1972|1973|1974|1975|1976|1977|1978|1979|1980|1981|1982|1983|1984|1985|1986|1987|1988|1989|1990|1991|1992|1993|1994|1995|1996|1997|1998|1999|2000|2001|2002|2003|2004|2005|2006|2007|2008|2009|2010|2011|2012|2013|
+------------------------------+-----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+
|functional                    |10555|24  |2   |7   |31  |7   |11  |6   |31  |22  |15  |99  |82  |178 |55  |234 |144 |85  |62  |426 |41  |258 |85  |236 |187 |365 |324 |212 |143 |245 |165 |466 |141 |361 |285 |380 |593 |386 |291 |542 |694 |1279|331 |692 |828 |704 |578 |883 |1081|1839|1774|2023|943 |726 |102 |
|non functional                |8365 |72  |16  |22  |48  |32  |7   |11  |40  |51  |41  |297 |57  |462 |121 |403 |252 |277 |130 |514 |139 |493 |142 |454 |280 |348 |537 |188 |122 |234 |137 |429 |166 |238 |289 |315 |346 |377 |286 |337 |238 |676 |172 |325 |387 |349 |344 |453 |390 |647 |621 |532 |235 |307 |73  |
|functional needs repair       |1789 |6   |3   |1   |6   |1   |1   |0   |17  |4   |3   |15  |6   |68  |8   |39  |41  |52  |10  |97  |12  |60  |11  |54  |21  |66  |84  |34  |37  |42  |14  |59  |17  |41  |34  |43  |75  |48  |67  |87  |47  |136 |37  |58  |71  |70  |89  |135 |116 |127 |138 |90  |78  |51  |1   |
+------------------------------+-----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+

Number of unique levels in CONSTRUCTION YEAR = 55

In [111]:
col1='status_group'
col2=cat_cols[1]
crosstab_df=combined_data_df.crosstab(col1,col2)
crosstab_df.show(truncate=False)
cols=list(crosstab_df.toPandas().columns[1:])
print("Number of unique levels in "+col2.replace('_',' ').upper()+" =",len(cols))
status_grp=list(crosstab_df.toPandas()[crosstab_df.toPandas().columns[0]])

fig = go.Figure(data=[
    go.Bar(name=cols[0], x=status_grp, y=list(crosstab_df.toPandas()[cols[0]])),
    go.Bar(name=cols[1], x=status_grp, y=list(crosstab_df.toPandas()[cols[1]])),
    go.Bar(name=cols[2], x=status_grp, y=list(crosstab_df.toPandas()[cols[2]])),
    go.Bar(name=cols[3], x=status_grp, y=list(crosstab_df.toPandas()[cols[3]])),
    go.Bar(name=cols[4], x=status_grp, y=list(crosstab_df.toPandas()[cols[4]])),
    go.Bar(name=cols[5], x=status_grp, y=list(crosstab_df.toPandas()[cols[5]])),
    go.Bar(name=cols[6], x=status_grp, y=list(crosstab_df.toPandas()[cols[6]])),
    go.Bar(name=cols[7], x=status_grp, y=list(crosstab_df.toPandas()[cols[7]])),
])


fig.update_layout(title_text="Distribution of "+col2.replace('_',' ').upper()+" with "+col1.replace('_',' ').upper(),barmode='group')
fig.update_xaxes(title_text=col1.replace('_',' ').upper())
fig.update_yaxes(title_text='Count'.upper())
py.iplot(fig, filename='plot_4')

+--------------------------+--------+--------+------------------+-----+-----+---------------+-----+-------+
|status_group_water_quality|coloured|fluoride|fluoride abandoned|milky|salty|salty abandoned|soft |unknown|
+--------------------------+--------+--------+------------------+-----+-----+---------------+-----+-------+
|functional                |246     |151     |6                 |438  |2220 |174            |28760|264    |
|non functional            |190     |36      |11                |352  |2411 |93             |18154|1577   |
|functional needs repair   |54      |13      |0                 |14   |225  |72             |3904 |35     |
+--------------------------+--------+--------+------------------+-----+-----+---------------+-----+-------+

Number of unique levels in WATER QUALITY = 8

In [112]:
col1='status_group'
col2=cat_cols[2]
crosstab_df=combined_data_df.crosstab(col1,col2)
crosstab_df.show(truncate=False)
cols=list(crosstab_df.toPandas().columns[1:])
print("Number of unique levels in "+col2.replace('_',' ').upper()+" =",len(cols))
status_grp=list(crosstab_df.toPandas()[crosstab_df.toPandas().columns[0]])

fig = go.Figure(data=[
    go.Bar(name=cols[0], x=status_grp, y=list(crosstab_df.toPandas()[cols[0]])),
    go.Bar(name=cols[1], x=status_grp, y=list(crosstab_df.toPandas()[cols[1]])),
    go.Bar(name=cols[2], x=status_grp, y=list(crosstab_df.toPandas()[cols[2]])),
    
])


fig.update_layout(title_text="Distribution of "+col2.replace('_',' ').upper()+" with "+col1.replace('_',' ').upper(),barmode='group')
fig.update_xaxes(title_text=col1.replace('_',' ').upper())
fig.update_yaxes(title_text='Count'.upper())
py.iplot(fig, filename='plot_5')

+-------------------------+-----------+-------+-------+
|status_group_source_class|groundwater|surface|unknown|
+-------------------------+-----------+-------+-------+
|functional               |24835      |7266   |158    |
|non functional           |18218      |4491   |115    |
|functional needs repair  |2741       |1571   |5      |
+-------------------------+-----------+-------+-------+

Number of unique levels in SOURCE CLASS = 3

In [113]:
col1='status_group'
col2=cat_cols[3]
crosstab_df=combined_data_df.crosstab(col1,col2)
crosstab_df.show(truncate=False)
cols=list(crosstab_df.toPandas().columns[1:])
print("Number of unique levels in "+col2.replace('_',' ').upper()+" =",len(cols))
status_grp=list(crosstab_df.toPandas()[crosstab_df.toPandas().columns[0]])

fig = go.Figure(data=[
    go.Bar(name=cols[0], x=status_grp, y=list(crosstab_df.toPandas()[cols[0]])),
    go.Bar(name=cols[1], x=status_grp, y=list(crosstab_df.toPandas()[cols[1]])),
    go.Bar(name=cols[2], x=status_grp, y=list(crosstab_df.toPandas()[cols[2]])),
    go.Bar(name=cols[3], x=status_grp, y=list(crosstab_df.toPandas()[cols[3]])),
    go.Bar(name=cols[4], x=status_grp, y=list(crosstab_df.toPandas()[cols[4]])),
    go.Bar(name=cols[5], x=status_grp, y=list(crosstab_df.toPandas()[cols[5]])),
    go.Bar(name=cols[6], x=status_grp, y=list(crosstab_df.toPandas()[cols[6]])),
    go.Bar(name=cols[7], x=status_grp, y=list(crosstab_df.toPandas()[cols[7]])),
    go.Bar(name=cols[8], x=status_grp, y=list(crosstab_df.toPandas()[cols[8]])),
    go.Bar(name=cols[9], x=status_grp, y=list(crosstab_df.toPandas()[cols[9]])),
    go.Bar(name=cols[10], x=status_grp, y=list(crosstab_df.toPandas()[cols[10]])),
    go.Bar(name=cols[11], x=status_grp, y=list(crosstab_df.toPandas()[cols[11]])),
    go.Bar(name=cols[12], x=status_grp, y=list(crosstab_df.toPandas()[cols[12]])),
    
])

fig.update_layout(title_text="Distribution of "+col2.replace('_',' ').upper()+" with "+col1.replace('_',' ').upper(),barmode='group')
fig.update_xaxes(title_text=col1.replace('_',' ').upper())
fig.update_yaxes(title_text='Count'.upper())
py.iplot(fig, filename='plot_6')

+------------------------------+-------+----+-----+----------+----------------+---+-----+-----+----+----+-----------+---------------+----+
|status_group_scheme_management|Company|None|Other|Parastatal|Private operator|SWC|Trust|VWC  |WUA |WUG |Water Board|Water authority|null|
+------------------------------+-------+----+-----+----------+----------------+---+-----+-----+----+----+-----------+---------------+----+
|functional                    |534    |1   |458  |966       |729             |20 |46   |18960|1995|3006|2053       |1618           |1873|
|non functional                |490    |0   |286  |512       |311             |76 |21   |15499|649 |1528|584        |1087           |1781|
|functional needs repair       |37     |0   |22   |202       |23              |1  |5    |2334 |239 |672 |111        |448            |223 |
+------------------------------+-------+----+-----+----------+----------------+---+-----+-----+----+----+-----------+---------------+----+

Number of unique levels in SCHEME MANAGEMENT = 13

In [114]:
col1='status_group'
col2=cat_cols[4]
crosstab_df=combined_data_df.crosstab(col1,col2)
crosstab_df.show(truncate=False)
cols=list(crosstab_df.toPandas().columns[1:])
print("Number of unique levels in "+col2.replace('_',' ').upper()+" =",len(cols))
status_grp=list(crosstab_df.toPandas()[crosstab_df.toPandas().columns[0]])

fig = go.Figure(data=[
    go.Bar(name=cols[0], x=status_grp, y=list(crosstab_df.toPandas()[cols[0]])),
    go.Bar(name=cols[1], x=status_grp, y=list(crosstab_df.toPandas()[cols[1]])),
    go.Bar(name=cols[2], x=status_grp, y=list(crosstab_df.toPandas()[cols[2]])),
    go.Bar(name=cols[3], x=status_grp, y=list(crosstab_df.toPandas()[cols[3]])),
    go.Bar(name=cols[4], x=status_grp, y=list(crosstab_df.toPandas()[cols[4]])),
    go.Bar(name=cols[5], x=status_grp, y=list(crosstab_df.toPandas()[cols[5]])),
    
])


fig.update_layout(title_text="Distribution of "+col2.replace('_',' ').upper()+" with "+col1.replace('_',' ').upper(),barmode='group')
fig.update_xaxes(title_text=col1.replace('_',' ').upper())
fig.update_yaxes(title_text='Count'.upper())
py.iplot(fig, filename='plot_7')

+----------------------------------+-------------+------------------+---+---------+---------------+-----+
|status_group_waterpoint_type_group|cattle trough|communal standpipe|dam|hand pump|improved spring|other|
+----------------------------------+-------------+------------------+---+---------+---------------+-----+
|functional                        |84           |19961             |6  |10805    |563            |840  |
|non functional                    |30           |11756             |1  |5654     |136            |5247 |
|functional needs repair           |2            |2908              |0  |1029     |85             |293  |
+----------------------------------+-------------+------------------+---+---------+---------------+-----+

Number of unique levels in WATERPOINT TYPE GROUP = 6

In [0]:
### Task8: ​Create new columns year,date and month from the existing date column on the dataframe. Use this new dataframe for further data analysis

In [0]:
import datetime
from pyspark.sql.functions import year, month, dayofmonth
combined_data_df=combined_data_df.withColumn("Year",year("date_recorded").alias('year'))

In [117]:
combined_data_df.show(2)

+-----+----------+-------------------+-------+----------+---------+-----------+-----------+--------+-----------+-------------+----------+------+-----------+-------------+---------+--------+----------+--------------+--------------------+-----------------+-----------+------+-----------------+---------------+---------------------+---------------------+----------+----------------+------------+------------+-------------+-------------+------------+--------------+--------------------+--------------------+------------+------------------+---------------------+------------+----+
|   id|amount_tsh|      date_recorded| funder|gps_height|installer|  longitude|   latitude|wpt_name|num_private|        basin|subvillage|region|region_code|district_code|      lga|    ward|population|public_meeting|         recorded_by|scheme_management|scheme_name|permit|construction_year|extraction_type|extraction_type_group|extraction_type_class|management|management_group|     payment|payment_type|water_quality|quality_group|    quantity|quantity_group|              source|         source_type|source_class|   waterpoint_type|waterpoint_type_group|status_group|Year|
+-----+----------+-------------------+-------+----------+---------+-----------+-----------+--------+-----------+-------------+----------+------+-----------+-------------+---------+--------+----------+--------------+--------------------+-----------------+-----------+------+-----------------+---------------+---------------------+---------------------+----------+----------------+------------+------------+-------------+-------------+------------+--------------+--------------------+--------------------+------------+------------------+---------------------+------------+----+
|69572|    6000.0|2011-03-14 00:00:00|  Roman|      1390|    Roman|34.93809275|-9.85632177|    none|          0|   Lake Nyasa|  Mnyusi B|Iringa|         11|            5|   Ludewa|Mundindi|       109|          True|GeoData Consultan...|              VWC|      Roman| false|             1999|        gravity|              gravity|              gravity|       vwc|      user-group|pay annually|    annually|         soft|         good|      enough|        enough|              spring|              spring| groundwater|communal standpipe|   communal standpipe|  functional|2011|
| 8776|       0.0|2013-03-06 00:00:00|Grumeti|      1399|  GRUMETI| 34.6987661|-2.14746569|Zahanati|          0|Lake Victoria|   Nyamara|  Mara|         20|            2|Serengeti|   Natta|       280|          null|GeoData Consultan...|            Other|       null|  true|             2010|        gravity|              gravity|              gravity|       wug|      user-group|   never pay|   never pay|         soft|         good|insufficient|  insufficient|rainwater harvesting|rainwater harvesting|     surface|communal standpipe|   communal standpipe|  functional|2013|
+-----+----------+-------------------+-------+----------+---------+-----------+-----------+--------+-----------+-------------+----------+------+-----------+-------------+---------+--------+----------+--------------+--------------------+-----------------+-----------+------+-----------------+---------------+---------------------+---------------------+----------+----------------+------------+------------+-------------+-------------+------------+--------------+--------------------+--------------------+------------+------------------+---------------------+------------+----+
only showing top 2 rows

In [0]:
combined_data_df=combined_data_df.withColumn("Month",month("date_recorded"))
combined_data_df=combined_data_df.withColumn("Day",dayofmonth("date_recorded"))

In [119]:
combined_data_df.show(2)

+-----+----------+-------------------+-------+----------+---------+-----------+-----------+--------+-----------+-------------+----------+------+-----------+-------------+---------+--------+----------+--------------+--------------------+-----------------+-----------+------+-----------------+---------------+---------------------+---------------------+----------+----------------+------------+------------+-------------+-------------+------------+--------------+--------------------+--------------------+------------+------------------+---------------------+------------+----+-----+---+
|   id|amount_tsh|      date_recorded| funder|gps_height|installer|  longitude|   latitude|wpt_name|num_private|        basin|subvillage|region|region_code|district_code|      lga|    ward|population|public_meeting|         recorded_by|scheme_management|scheme_name|permit|construction_year|extraction_type|extraction_type_group|extraction_type_class|management|management_group|     payment|payment_type|water_quality|quality_group|    quantity|quantity_group|              source|         source_type|source_class|   waterpoint_type|waterpoint_type_group|status_group|Year|Month|Day|
+-----+----------+-------------------+-------+----------+---------+-----------+-----------+--------+-----------+-------------+----------+------+-----------+-------------+---------+--------+----------+--------------+--------------------+-----------------+-----------+------+-----------------+---------------+---------------------+---------------------+----------+----------------+------------+------------+-------------+-------------+------------+--------------+--------------------+--------------------+------------+------------------+---------------------+------------+----+-----+---+
|69572|    6000.0|2011-03-14 00:00:00|  Roman|      1390|    Roman|34.93809275|-9.85632177|    none|          0|   Lake Nyasa|  Mnyusi B|Iringa|         11|            5|   Ludewa|Mundindi|       109|          True|GeoData Consultan...|              VWC|      Roman| false|             1999|        gravity|              gravity|              gravity|       vwc|      user-group|pay annually|    annually|         soft|         good|      enough|        enough|              spring|              spring| groundwater|communal standpipe|   communal standpipe|  functional|2011|    3| 14|
| 8776|       0.0|2013-03-06 00:00:00|Grumeti|      1399|  GRUMETI| 34.6987661|-2.14746569|Zahanati|          0|Lake Victoria|   Nyamara|  Mara|         20|            2|Serengeti|   Natta|       280|          null|GeoData Consultan...|            Other|       null|  true|             2010|        gravity|              gravity|              gravity|       wug|      user-group|   never pay|   never pay|         soft|         good|insufficient|  insufficient|rainwater harvesting|rainwater harvesting|     surface|communal standpipe|   communal standpipe|  functional|2013|    3|  6|
+-----+----------+-------------------+-------+----------+---------+-----------+-----------+--------+-----------+-------------+----------+------+-----------+-------------+---------+--------+----------+--------------+--------------------+-----------------+-----------+------+-----------------+---------------+---------------------+---------------------+----------+----------------+------------+------------+-------------+-------------+------------+--------------+--------------------+--------------------+------------+------------------+---------------------+------------+----+-----+---+
only showing top 2 rows

In [0]:
### Task9:​ Change the fields to the following, cast ‘​public_meeting​’ as String, cast ‘​permit​’ as String, cast ‘​gps_height​’ as Double.

In [121]:
combined_data_df.dtypes

[('id', 'int'),
 ('amount_tsh', 'double'),
 ('date_recorded', 'timestamp'),
 ('funder', 'string'),
 ('gps_height', 'int'),
 ('installer', 'string'),
 ('longitude', 'double'),
 ('latitude', 'double'),
 ('wpt_name', 'string'),
 ('num_private', 'int'),
 ('basin', 'string'),
 ('subvillage', 'string'),
 ('region', 'string'),
 ('region_code', 'int'),
 ('district_code', 'int'),
 ('lga', 'string'),
 ('ward', 'string'),
 ('population', 'int'),
 ('public_meeting', 'string'),
 ('recorded_by', 'string'),
 ('scheme_management', 'string'),
 ('scheme_name', 'string'),
 ('permit', 'boolean'),
 ('construction_year', 'int'),
 ('extraction_type', 'string'),
 ('extraction_type_group', 'string'),
 ('extraction_type_class', 'string'),
 ('management', 'string'),
 ('management_group', 'string'),
 ('payment', 'string'),
 ('payment_type', 'string'),
 ('water_quality', 'string'),
 ('quality_group', 'string'),
 ('quantity', 'string'),
 ('quantity_group', 'string'),
 ('source', 'string'),
 ('source_type', 'string'),
 ('source_class', 'string'),
 ('waterpoint_type', 'string'),
 ('waterpoint_type_group', 'string'),
 ('status_group', 'string'),
 ('Year', 'int'),
 ('Month', 'int'),
 ('Day', 'int')]

In [0]:
### ​public_meeting​ is already string and so not converting again to string as asked in question
combined_data_df=combined_data_df.withColumn("gps_height", combined_data_df["gps_height"].cast(DoubleType()))\
                .withColumn("permit",combined_data_df["permit"].cast(StringType()))

In [123]:
combined_data_df.dtypes

[('id', 'int'),
 ('amount_tsh', 'double'),
 ('date_recorded', 'timestamp'),
 ('funder', 'string'),
 ('gps_height', 'double'),
 ('installer', 'string'),
 ('longitude', 'double'),
 ('latitude', 'double'),
 ('wpt_name', 'string'),
 ('num_private', 'int'),
 ('basin', 'string'),
 ('subvillage', 'string'),
 ('region', 'string'),
 ('region_code', 'int'),
 ('district_code', 'int'),
 ('lga', 'string'),
 ('ward', 'string'),
 ('population', 'int'),
 ('public_meeting', 'string'),
 ('recorded_by', 'string'),
 ('scheme_management', 'string'),
 ('scheme_name', 'string'),
 ('permit', 'string'),
 ('construction_year', 'int'),
 ('extraction_type', 'string'),
 ('extraction_type_group', 'string'),
 ('extraction_type_class', 'string'),
 ('management', 'string'),
 ('management_group', 'string'),
 ('payment', 'string'),
 ('payment_type', 'string'),
 ('water_quality', 'string'),
 ('quality_group', 'string'),
 ('quantity', 'string'),
 ('quantity_group', 'string'),
 ('source', 'string'),
 ('source_type', 'string'),
 ('source_class', 'string'),
 ('waterpoint_type', 'string'),
 ('waterpoint_type_group', 'string'),
 ('status_group', 'string'),
 ('Year', 'int'),
 ('Month', 'int'),
 ('Day', 'int')]

In [124]:
combined_data_df.show(5,truncate=False)

+-----+----------+-------------------+------------+----------+------------+-----------+------------+--------------------+-----------+-----------------------+----------+-------+-----------+-------------+---------+----------+----------+--------------+-----------------------+-----------------+---------------------------+------+-----------------+---------------+---------------------+---------------------+----------+----------------+--------------+------------+-------------+-------------+------------+--------------+--------------------+--------------------+------------+---------------------------+---------------------+--------------+----+-----+---+
|id   |amount_tsh|date_recorded      |funder      |gps_height|installer   |longitude  |latitude    |wpt_name            |num_private|basin                  |subvillage|region |region_code|district_code|lga      |ward      |population|public_meeting|recorded_by            |scheme_management|scheme_name                |permit|construction_year|extraction_type|extraction_type_group|extraction_type_class|management|management_group|payment       |payment_type|water_quality|quality_group|quantity    |quantity_group|source              |source_type         |source_class|waterpoint_type            |waterpoint_type_group|status_group  |Year|Month|Day|
+-----+----------+-------------------+------------+----------+------------+-----------+------------+--------------------+-----------+-----------------------+----------+-------+-----------+-------------+---------+----------+----------+--------------+-----------------------+-----------------+---------------------------+------+-----------------+---------------+---------------------+---------------------+----------+----------------+--------------+------------+-------------+-------------+------------+--------------+--------------------+--------------------+------------+---------------------------+---------------------+--------------+----+-----+---+
|69572|6000.0    |2011-03-14 00:00:00|Roman       |1390.0    |Roman       |34.93809275|-9.85632177 |none                |0          |Lake Nyasa             |Mnyusi B  |Iringa |11         |5            |Ludewa   |Mundindi  |109       |True          |GeoData Consultants Ltd|VWC              |Roman                      |false |1999             |gravity        |gravity              |gravity              |vwc       |user-group      |pay annually  |annually    |soft         |good         |enough      |enough        |spring              |spring              |groundwater |communal standpipe         |communal standpipe   |functional    |2011|3    |14 |
|8776 |0.0       |2013-03-06 00:00:00|Grumeti     |1399.0    |GRUMETI     |34.6987661 |-2.14746569 |Zahanati            |0          |Lake Victoria          |Nyamara   |Mara   |20         |2            |Serengeti|Natta     |280       |null          |GeoData Consultants Ltd|Other            |null                       |true  |2010             |gravity        |gravity              |gravity              |wug       |user-group      |never pay     |never pay   |soft         |good         |insufficient|insufficient  |rainwater harvesting|rainwater harvesting|surface     |communal standpipe         |communal standpipe   |functional    |2013|3    |6  |
|34310|25.0      |2013-02-25 00:00:00|Lottery Club|686.0     |World vision|37.46066446|-3.82132853 |Kwa Mahundi         |0          |Pangani                |Majengo   |Manyara|21         |4            |Simanjiro|Ngorika   |250       |True          |GeoData Consultants Ltd|VWC              |Nyumba ya mungu pipe scheme|true  |2009             |gravity        |gravity              |gravity              |vwc       |user-group      |pay per bucket|per bucket  |soft         |good         |enough      |enough        |dam                 |dam                 |surface     |communal standpipe multiple|communal standpipe   |functional    |2013|2    |25 |
|67743|0.0       |2013-01-28 00:00:00|Unicef      |263.0     |UNICEF      |38.48616088|-11.15529772|Zahanati Ya Nanyumbu|0          |Ruvuma / Southern Coast|Mahakamani|Mtwara |90         |63           |Nanyumbu |Nanyumbu  |58        |True          |GeoData Consultants Ltd|VWC              |null                       |true  |1986             |submersible    |submersible          |submersible          |vwc       |user-group      |never pay     |never pay   |soft         |good         |dry         |dry           |machine dbh         |borehole            |groundwater |communal standpipe multiple|communal standpipe   |non functional|2013|1    |28 |
|19728|0.0       |2011-07-13 00:00:00|Action In A |0.0       |Artisan     |31.13084671|-1.82535885 |Shuleni             |0          |Lake Victoria          |Kyanyamisa|Kagera |18         |1            |Karagwe  |Nyakasimbi|0         |True          |GeoData Consultants Ltd|null             |null                       |true  |0                |gravity        |gravity              |gravity              |other     |other           |never pay     |never pay   |soft         |good         |seasonal    |seasonal      |rainwater harvesting|rainwater harvesting|surface     |communal standpipe         |communal standpipe   |functional    |2011|7    |13 |
+-----+----------+-------------------+------------+----------+------------+-----------+------------+--------------------+-----------+-----------------------+----------+-------+-----------+-------------+---------+----------+----------+--------------+-----------------------+-----------------+---------------------------+------+-----------------+---------------+---------------------+---------------------+----------+----------------+--------------+------------+-------------+-------------+------------+--------------+--------------------+--------------------+------------+---------------------------+---------------------+--------------+----+-----+---+
only showing top 5 rows

In [0]:
### Task10:​ Verify for the Nulls and NaNs in the data frame

In [126]:
combined_data_df.dtypes

[('id', 'int'),
 ('amount_tsh', 'double'),
 ('date_recorded', 'timestamp'),
 ('funder', 'string'),
 ('gps_height', 'double'),
 ('installer', 'string'),
 ('longitude', 'double'),
 ('latitude', 'double'),
 ('wpt_name', 'string'),
 ('num_private', 'int'),
 ('basin', 'string'),
 ('subvillage', 'string'),
 ('region', 'string'),
 ('region_code', 'int'),
 ('district_code', 'int'),
 ('lga', 'string'),
 ('ward', 'string'),
 ('population', 'int'),
 ('public_meeting', 'string'),
 ('recorded_by', 'string'),
 ('scheme_management', 'string'),
 ('scheme_name', 'string'),
 ('permit', 'string'),
 ('construction_year', 'int'),
 ('extraction_type', 'string'),
 ('extraction_type_group', 'string'),
 ('extraction_type_class', 'string'),
 ('management', 'string'),
 ('management_group', 'string'),
 ('payment', 'string'),
 ('payment_type', 'string'),
 ('water_quality', 'string'),
 ('quality_group', 'string'),
 ('quantity', 'string'),
 ('quantity_group', 'string'),
 ('source', 'string'),
 ('source_type', 'string'),
 ('source_class', 'string'),
 ('waterpoint_type', 'string'),
 ('waterpoint_type_group', 'string'),
 ('status_group', 'string'),
 ('Year', 'int'),
 ('Month', 'int'),
 ('Day', 'int')]

In [0]:
###Converted date_recorded to StrinType as we were not able to look for Nan in timestamp field, and its throwing error
combined_data_df=combined_data_df.withColumn("date_recorded", combined_data_df["date_recorded"].cast(StringType()))

In [128]:
from pyspark.sql.functions import isnan, when, count, col

combined_data_df.select([count(when(isnan(c) | col(c).isNull(), c)).alias(c) for c in combined_data_df.columns]).show()

+---+----------+-------------+------+----------+---------+---------+--------+--------+-----------+-----+----------+------+-----------+-------------+---+----+----------+--------------+-----------+-----------------+-----------+------+-----------------+---------------+---------------------+---------------------+----------+----------------+-------+------------+-------------+-------------+--------+--------------+------+-----------+------------+---------------+---------------------+------------+----+-----+---+
| id|amount_tsh|date_recorded|funder|gps_height|installer|longitude|latitude|wpt_name|num_private|basin|subvillage|region|region_code|district_code|lga|ward|population|public_meeting|recorded_by|scheme_management|scheme_name|permit|construction_year|extraction_type|extraction_type_group|extraction_type_class|management|management_group|payment|payment_type|water_quality|quality_group|quantity|quantity_group|source|source_type|source_class|waterpoint_type|waterpoint_type_group|status_group|Year|Month|Day|
+---+----------+-------------+------+----------+---------+---------+--------+--------+-----------+-----+----------+------+-----------+-------------+---+----+----------+--------------+-----------+-----------------+-----------+------+-----------------+---------------+---------------------+---------------------+----------+----------------+-------+------------+-------------+-------------+--------+--------------+------+-----------+------------+---------------+---------------------+------------+----+-----+---+
|  0|         0|            0|  3635|         6|     3655|        0|       0|       0|          0|    0|       371|     0|          0|            0|  0|   0|         0|          3334|          0|             3877|      28166|  3056|                0|              0|                    0|                    0|         0|               0|      0|           0|            0|            0|       0|             0|     0|          0|           0|              0|                    0|           0|   0|    0|  0|
+---+----------+-------------+------+----------+---------+---------+--------+--------+-----------+-----+----------+------+-----------+-------------+---+----+----------+--------------+-----------+-----------------+-----------+------+-----------------+---------------+---------------------+---------------------+----------+----------------+-------+------------+-------------+-------------+--------+--------------+------+-----------+------------+---------------+---------------------+------------+----+-----+---+

In [129]:
combined_data_df.dtypes

[('id', 'int'),
 ('amount_tsh', 'double'),
 ('date_recorded', 'string'),
 ('funder', 'string'),
 ('gps_height', 'double'),
 ('installer', 'string'),
 ('longitude', 'double'),
 ('latitude', 'double'),
 ('wpt_name', 'string'),
 ('num_private', 'int'),
 ('basin', 'string'),
 ('subvillage', 'string'),
 ('region', 'string'),
 ('region_code', 'int'),
 ('district_code', 'int'),
 ('lga', 'string'),
 ('ward', 'string'),
 ('population', 'int'),
 ('public_meeting', 'string'),
 ('recorded_by', 'string'),
 ('scheme_management', 'string'),
 ('scheme_name', 'string'),
 ('permit', 'string'),
 ('construction_year', 'int'),
 ('extraction_type', 'string'),
 ('extraction_type_group', 'string'),
 ('extraction_type_class', 'string'),
 ('management', 'string'),
 ('management_group', 'string'),
 ('payment', 'string'),
 ('payment_type', 'string'),
 ('water_quality', 'string'),
 ('quality_group', 'string'),
 ('quantity', 'string'),
 ('quantity_group', 'string'),
 ('source', 'string'),
 ('source_type', 'string'),
 ('source_class', 'string'),
 ('waterpoint_type', 'string'),
 ('waterpoint_type_group', 'string'),
 ('status_group', 'string'),
 ('Year', 'int'),
 ('Month', 'int'),
 ('Day', 'int')]

In [130]:
combined_data_df.show(5,truncate=False)

+-----+----------+-------------------+------------+----------+------------+-----------+------------+--------------------+-----------+-----------------------+----------+-------+-----------+-------------+---------+----------+----------+--------------+-----------------------+-----------------+---------------------------+------+-----------------+---------------+---------------------+---------------------+----------+----------------+--------------+------------+-------------+-------------+------------+--------------+--------------------+--------------------+------------+---------------------------+---------------------+--------------+----+-----+---+
|id   |amount_tsh|date_recorded      |funder      |gps_height|installer   |longitude  |latitude    |wpt_name            |num_private|basin                  |subvillage|region |region_code|district_code|lga      |ward      |population|public_meeting|recorded_by            |scheme_management|scheme_name                |permit|construction_year|extraction_type|extraction_type_group|extraction_type_class|management|management_group|payment       |payment_type|water_quality|quality_group|quantity    |quantity_group|source              |source_type         |source_class|waterpoint_type            |waterpoint_type_group|status_group  |Year|Month|Day|
+-----+----------+-------------------+------------+----------+------------+-----------+------------+--------------------+-----------+-----------------------+----------+-------+-----------+-------------+---------+----------+----------+--------------+-----------------------+-----------------+---------------------------+------+-----------------+---------------+---------------------+---------------------+----------+----------------+--------------+------------+-------------+-------------+------------+--------------+--------------------+--------------------+------------+---------------------------+---------------------+--------------+----+-----+---+
|69572|6000.0    |2011-03-14 00:00:00|Roman       |1390.0    |Roman       |34.93809275|-9.85632177 |none                |0          |Lake Nyasa             |Mnyusi B  |Iringa |11         |5            |Ludewa   |Mundindi  |109       |True          |GeoData Consultants Ltd|VWC              |Roman                      |false |1999             |gravity        |gravity              |gravity              |vwc       |user-group      |pay annually  |annually    |soft         |good         |enough      |enough        |spring              |spring              |groundwater |communal standpipe         |communal standpipe   |functional    |2011|3    |14 |
|8776 |0.0       |2013-03-06 00:00:00|Grumeti     |1399.0    |GRUMETI     |34.6987661 |-2.14746569 |Zahanati            |0          |Lake Victoria          |Nyamara   |Mara   |20         |2            |Serengeti|Natta     |280       |null          |GeoData Consultants Ltd|Other            |null                       |true  |2010             |gravity        |gravity              |gravity              |wug       |user-group      |never pay     |never pay   |soft         |good         |insufficient|insufficient  |rainwater harvesting|rainwater harvesting|surface     |communal standpipe         |communal standpipe   |functional    |2013|3    |6  |
|34310|25.0      |2013-02-25 00:00:00|Lottery Club|686.0     |World vision|37.46066446|-3.82132853 |Kwa Mahundi         |0          |Pangani                |Majengo   |Manyara|21         |4            |Simanjiro|Ngorika   |250       |True          |GeoData Consultants Ltd|VWC              |Nyumba ya mungu pipe scheme|true  |2009             |gravity        |gravity              |gravity              |vwc       |user-group      |pay per bucket|per bucket  |soft         |good         |enough      |enough        |dam                 |dam                 |surface     |communal standpipe multiple|communal standpipe   |functional    |2013|2    |25 |
|67743|0.0       |2013-01-28 00:00:00|Unicef      |263.0     |UNICEF      |38.48616088|-11.15529772|Zahanati Ya Nanyumbu|0          |Ruvuma / Southern Coast|Mahakamani|Mtwara |90         |63           |Nanyumbu |Nanyumbu  |58        |True          |GeoData Consultants Ltd|VWC              |null                       |true  |1986             |submersible    |submersible          |submersible          |vwc       |user-group      |never pay     |never pay   |soft         |good         |dry         |dry           |machine dbh         |borehole            |groundwater |communal standpipe multiple|communal standpipe   |non functional|2013|1    |28 |
|19728|0.0       |2011-07-13 00:00:00|Action In A |0.0       |Artisan     |31.13084671|-1.82535885 |Shuleni             |0          |Lake Victoria          |Kyanyamisa|Kagera |18         |1            |Karagwe  |Nyakasimbi|0         |True          |GeoData Consultants Ltd|null             |null                       |true  |0                |gravity        |gravity              |gravity              |other     |other           |never pay     |never pay   |soft         |good         |seasonal    |seasonal      |rainwater harvesting|rainwater harvesting|surface     |communal standpipe         |communal standpipe   |functional    |2011|7    |13 |
+-----+----------+-------------------+------------+----------+------------+-----------+------------+--------------------+-----------+-----------------------+----------+-------+-----------+-------------+---------+----------+----------+--------------+-----------------------+-----------------+---------------------------+------+-----------------+---------------+---------------------+---------------------+----------+----------------+--------------+------------+-------------+-------------+------------+--------------+--------------------+--------------------+------------+---------------------------+---------------------+--------------+----+-----+---+
only showing top 5 rows

In [0]:
### Task11: ​Impute the ‘​gps_height​’ field with mean value for any missing values.  (Use from pyspark.ml.feature import Imputer).

In [0]:
from pyspark.ml.feature import Imputer
imputer = Imputer(inputCols=["gps_height"], outputCols=["gps_height"])   
combined_data_df2=combined_data_df
combined_data_df2=imputer.fit(combined_data_df2).transform(combined_data_df2)

In [133]:
### Now we see that 6 missing values count became 0 after imputation
combined_data_df2.select([count(when(isnan(c) | col(c).isNull(), c)).alias(c) for c in combined_data_df.columns]).show(truncate=False)

+---+----------+-------------+------+----------+---------+---------+--------+--------+-----------+-----+----------+------+-----------+-------------+---+----+----------+--------------+-----------+-----------------+-----------+------+-----------------+---------------+---------------------+---------------------+----------+----------------+-------+------------+-------------+-------------+--------+--------------+------+-----------+------------+---------------+---------------------+------------+----+-----+---+
|id |amount_tsh|date_recorded|funder|gps_height|installer|longitude|latitude|wpt_name|num_private|basin|subvillage|region|region_code|district_code|lga|ward|population|public_meeting|recorded_by|scheme_management|scheme_name|permit|construction_year|extraction_type|extraction_type_group|extraction_type_class|management|management_group|payment|payment_type|water_quality|quality_group|quantity|quantity_group|source|source_type|source_class|waterpoint_type|waterpoint_type_group|status_group|Year|Month|Day|
+---+----------+-------------+------+----------+---------+---------+--------+--------+-----------+-----+----------+------+-----------+-------------+---+----+----------+--------------+-----------+-----------------+-----------+------+-----------------+---------------+---------------------+---------------------+----------+----------------+-------+------------+-------------+-------------+--------+--------------+------+-----------+------------+---------------+---------------------+------------+----+-----+---+
|0  |0         |0            |3635  |0         |3655     |0        |0       |0       |0          |0    |371       |0     |0          |0            |0  |0   |0         |3334          |0          |3877             |28166      |3056  |0                |0              |0                    |0                    |0         |0               |0      |0           |0            |0            |0       |0             |0     |0          |0           |0              |0                    |0           |0   |0    |0  |
+---+----------+-------------+------+----------+---------+---------+--------+--------+-----------+-----+----------+------+-----------+-------------+---+----+----------+--------------+-----------+-----------------+-----------+------+-----------------+---------------+---------------------+---------------------+----------+----------------+-------+------------+-------------+-------------+--------+--------------+------+-----------+------------+---------------+---------------------+------------+----+-----+---+

In [0]:
### Task12: ​Drop ​‘id’,’record_by’​ and ​‘date_recorded’ ​from the dataframe

In [0]:
combined_data_df3=combined_data_df2.drop(*['id','date_recorded','recorded_by'])

In [136]:
combined_data_df3.show(2)

+----------+-------+----------+---------+-----------+-----------+--------+-----------+-------------+----------+------+-----------+-------------+---------+--------+----------+--------------+-----------------+-----------+------+-----------------+---------------+---------------------+---------------------+----------+----------------+------------+------------+-------------+-------------+------------+--------------+--------------------+--------------------+------------+------------------+---------------------+------------+----+-----+---+
|amount_tsh| funder|gps_height|installer|  longitude|   latitude|wpt_name|num_private|        basin|subvillage|region|region_code|district_code|      lga|    ward|population|public_meeting|scheme_management|scheme_name|permit|construction_year|extraction_type|extraction_type_group|extraction_type_class|management|management_group|     payment|payment_type|water_quality|quality_group|    quantity|quantity_group|              source|         source_type|source_class|   waterpoint_type|waterpoint_type_group|status_group|Year|Month|Day|
+----------+-------+----------+---------+-----------+-----------+--------+-----------+-------------+----------+------+-----------+-------------+---------+--------+----------+--------------+-----------------+-----------+------+-----------------+---------------+---------------------+---------------------+----------+----------------+------------+------------+-------------+-------------+------------+--------------+--------------------+--------------------+------------+------------------+---------------------+------------+----+-----+---+
|    6000.0|  Roman|    1390.0|    Roman|34.93809275|-9.85632177|    none|          0|   Lake Nyasa|  Mnyusi B|Iringa|         11|            5|   Ludewa|Mundindi|       109|          True|              VWC|      Roman| false|             1999|        gravity|              gravity|              gravity|       vwc|      user-group|pay annually|    annually|         soft|         good|      enough|        enough|              spring|              spring| groundwater|communal standpipe|   communal standpipe|  functional|2011|    3| 14|
|       0.0|Grumeti|    1399.0|  GRUMETI| 34.6987661|-2.14746569|Zahanati|          0|Lake Victoria|   Nyamara|  Mara|         20|            2|Serengeti|   Natta|       280|          null|            Other|       null|  true|             2010|        gravity|              gravity|              gravity|       wug|      user-group|   never pay|   never pay|         soft|         good|insufficient|  insufficient|rainwater harvesting|rainwater harvesting|     surface|communal standpipe|   communal standpipe|  functional|2013|    3|  6|
+----------+-------+----------+---------+-----------+-----------+--------+-----------+-------------+----------+------+-----------+-------------+---------+--------+----------+--------------+-----------------+-----------+------+-----------------+---------------+---------------------+---------------------+----------+----------------+------------+------------+-------------+-------------+------------+--------------+--------------------+--------------------+------------+------------------+---------------------+------------+----+-----+---+
only showing top 2 rows

In [0]:
### Task13:​ Replace null values with the value  ‘UNKNOWN’ for these fields ‘funder’,’installer’,’subvillage’,’public_meeting’,’scheme_management’,’scheme_name’,’permit’​.

In [138]:
combined_data_df3.show()

+----------+--------------------+----------+--------------------+-----------+------------+--------------------+-----------+--------------------+---------------+-----------+-----------+-------------+----------------+--------------+----------+--------------+-----------------+--------------------+------+-----------------+---------------+---------------------+---------------------+----------------+----------------+--------------------+------------+-------------+-------------+------------+--------------+--------------------+--------------------+------------+--------------------+---------------------+--------------------+----+-----+---+
|amount_tsh|              funder|gps_height|           installer|  longitude|    latitude|            wpt_name|num_private|               basin|     subvillage|     region|region_code|district_code|             lga|          ward|population|public_meeting|scheme_management|         scheme_name|permit|construction_year|extraction_type|extraction_type_group|extraction_type_class|      management|management_group|             payment|payment_type|water_quality|quality_group|    quantity|quantity_group|              source|         source_type|source_class|     waterpoint_type|waterpoint_type_group|        status_group|Year|Month|Day|
+----------+--------------------+----------+--------------------+-----------+------------+--------------------+-----------+--------------------+---------------+-----------+-----------+-------------+----------------+--------------+----------+--------------+-----------------+--------------------+------+-----------------+---------------+---------------------+---------------------+----------------+----------------+--------------------+------------+-------------+-------------+------------+--------------+--------------------+--------------------+------------+--------------------+---------------------+--------------------+----+-----+---+
|    6000.0|               Roman|    1390.0|               Roman|34.93809275| -9.85632177|                none|          0|          Lake Nyasa|       Mnyusi B|     Iringa|         11|            5|          Ludewa|      Mundindi|       109|          True|              VWC|               Roman| false|             1999|        gravity|              gravity|              gravity|             vwc|      user-group|        pay annually|    annually|         soft|         good|      enough|        enough|              spring|              spring| groundwater|  communal standpipe|   communal standpipe|          functional|2011|    3| 14|
|       0.0|             Grumeti|    1399.0|             GRUMETI| 34.6987661| -2.14746569|            Zahanati|          0|       Lake Victoria|        Nyamara|       Mara|         20|            2|       Serengeti|         Natta|       280|          null|            Other|                null|  true|             2010|        gravity|              gravity|              gravity|             wug|      user-group|           never pay|   never pay|         soft|         good|insufficient|  insufficient|rainwater harvesting|rainwater harvesting|     surface|  communal standpipe|   communal standpipe|          functional|2013|    3|  6|
|      25.0|        Lottery Club|     686.0|        World vision|37.46066446| -3.82132853|         Kwa Mahundi|          0|             Pangani|        Majengo|    Manyara|         21|            4|       Simanjiro|       Ngorika|       250|          True|              VWC|Nyumba ya mungu p...|  true|             2009|        gravity|              gravity|              gravity|             vwc|      user-group|      pay per bucket|  per bucket|         soft|         good|      enough|        enough|                 dam|                 dam|     surface|communal standpip...|   communal standpipe|          functional|2013|    2| 25|
|       0.0|              Unicef|     263.0|              UNICEF|38.48616088|-11.15529772|Zahanati Ya Nanyumbu|          0|Ruvuma / Southern...|     Mahakamani|     Mtwara|         90|           63|        Nanyumbu|      Nanyumbu|        58|          True|              VWC|                null|  true|             1986|    submersible|          submersible|          submersible|             vwc|      user-group|           never pay|   never pay|         soft|         good|         dry|           dry|         machine dbh|            borehole| groundwater|communal standpip...|   communal standpipe|      non functional|2013|    1| 28|
|       0.0|         Action In A|       0.0|             Artisan|31.13084671| -1.82535885|             Shuleni|          0|       Lake Victoria|     Kyanyamisa|     Kagera|         18|            1|         Karagwe|    Nyakasimbi|         0|          True|             null|                null|  true|                0|        gravity|              gravity|              gravity|           other|           other|           never pay|   never pay|         soft|         good|    seasonal|      seasonal|rainwater harvesting|rainwater harvesting|     surface|  communal standpipe|   communal standpipe|          functional|2011|    7| 13|
|      20.0| Mkinga Distric Coun|       0.0|                 DWE| 39.1727956| -4.76558728|              Tajiri|          0|             Pangani|    Moa/Mwereme|      Tanga|          4|            8|          Mkinga|           Moa|         1|          True|              VWC|           Zingibali|  true|             2009|    submersible|          submersible|          submersible|             vwc|      user-group|      pay per bucket|  per bucket|        salty|        salty|      enough|        enough|               other|               other|     unknown|communal standpip...|   communal standpipe|          functional|2011|    3| 13|
|       0.0|                Dwsp|       0.0|                DWSP|33.36240982| -3.76636472|          Kwa Ngomho|          0|            Internal|  Ishinabulandi|  Shinyanga|         17|            3| Shinyanga Rural|        Samuye|         0|          True|              VWC|                null|  true|                0|         swn 80|               swn 80|             handpump|             vwc|      user-group|           never pay|   never pay|         soft|         good|      enough|        enough|         machine dbh|            borehole| groundwater|           hand pump|            hand pump|      non functional|2012|   10|  1|
|       0.0|               Rwssp|       0.0|                 DWE|32.62061707| -4.22619802|        Tushirikiane|          0|     Lake Tanganyika|Nyawishi Center|  Shinyanga|         17|            3|          Kahama|        Chambo|         0|          True|             null|                null|  true|                0|    nira/tanira|          nira/tanira|             handpump|             wug|      user-group|             unknown|     unknown|        milky|        milky|      enough|        enough|        shallow well|        shallow well| groundwater|           hand pump|            hand pump|      non functional|2012|   10|  9|
|       0.0|            Wateraid|       0.0|           Water Aid|32.71110001| -5.14671181|   Kwa Ramadhan Musa|          0|     Lake Tanganyika|     Imalauduki|     Tabora|         14|            6|    Tabora Urban|      Itetemia|         0|          True|              VWC|                null|  true|                0|  india mark ii|        india mark ii|             handpump|             vwc|      user-group|           never pay|   never pay|        salty|        salty|    seasonal|      seasonal|         machine dbh|            borehole| groundwater|           hand pump|            hand pump|      non functional|2012|   11|  3|
|       0.0|         Isingiro Ho|       0.0|             Artisan|30.62699053| -1.25705061|             Kwapeto|          0|       Lake Victoria|       Mkonomre|     Kagera|         18|            1|         Karagwe|        Kaisho|         0|          True|             null|                null|  true|                0|    nira/tanira|          nira/tanira|             handpump|             vwc|      user-group|           never pay|   never pay|         soft|         good|      enough|        enough|        shallow well|        shallow well| groundwater|           hand pump|            hand pump|          functional|2011|    8|  3|
|       0.0|             Private|      62.0|             Private|39.20951812| -7.03413939|       Mzee Hokororo|          0|         Wami / Ruvu|         Mizugo|      Pwani|         60|           43|        Mkuranga|       Tambani|       345|          True| Private operator|                null| false|             2011|    submersible|          submersible|          submersible|private operator|      commercial|           never pay|   never pay|        salty|        salty|      enough|        enough|         machine dbh|            borehole| groundwater|               other|                other|          functional|2011|    2| 20|
|     200.0|              Danida|    1062.0|              DANIDA|35.77025785|-10.57417468|    Kwa Alid Nchimbi|          0|          Lake Nyasa|   Ngondombwito|     Ruvuma|         10|            5|        Namtumbo|        Msindo|       250|          True|              WUG|                null| false|             1987|         swn 80|               swn 80|             handpump|             wug|      user-group|pay when scheme f...|  on failure|         soft|         good|insufficient|  insufficient|        shallow well|        shallow well| groundwater|           hand pump|            hand pump|          functional|2013|    2| 18|
|       0.0|        World Vision|       0.0|        World vision|33.79810612|  -3.2901938|               Pamba|          0|            Internal|        Nkilifa|  Shinyanga|         17|            2|           Maswa|      Busilili|         0|          True|              WUG|                null| false|                0|    nira/tanira|          nira/tanira|             handpump|             wug|      user-group|               other|       other|         soft|         good|      enough|        enough|        shallow well|        shallow well| groundwater|           hand pump|            hand pump|          functional|2012|   10| 14|
|       0.0|Lawatefuka Water ...|    1368.0|Lawatefuka water sup|37.09257412|  -3.1817833|Kwa John Izack Mmari|          0|             Pangani|        Omarini|Kilimanjaro|          3|            7|            Siha|Siha Kaskazini|         1|          True|      Water Board|          BL Bondeni|  true|             2009|        gravity|              gravity|              gravity|     water board|      user-group|         pay monthly|     monthly|         soft|         good|      enough|        enough|              spring|              spring| groundwater|  communal standpipe|   communal standpipe|          functional|2013|    3| 15|
|       0.0|               Biore|       0.0|              WEDECO|34.36407268| -3.62933335|           Mwabasabi|          0|            Internal|      Mwabasabi|  Shinyanga|         17|            6|           Meatu|         Nkoma|         0|          True|              WUG|                None|  true|                0|    nira/tanira|          nira/tanira|             handpump|             wug|      user-group|           never pay|   never pay|         soft|         good|      enough|        enough|        shallow well|        shallow well| groundwater|           hand pump|            hand pump|          functional|2012|   10| 20|
|       0.0|               Rudep|    1645.0|                 DWE|31.44412134| -8.27496163|Kwa Juvenal Ching...|          0|     Lake Tanganyika|          Tunzi|      Rukwa|         15|            2|Sumbawanga Rural|         Mkowe|       200|          True|              VWC|                null| false|             1991|         swn 80|               swn 80|             handpump|             vwc|      user-group|           never pay|   never pay|         soft|         good|      enough|        enough|         machine dbh|            borehole| groundwater|           hand pump|            hand pump|          functional|2011|    8|  4|
|     500.0|              Unicef|    1703.0|                 DWE|34.64243884| -9.10618458|     Kwa John Mtenzi|          0|              Rufiji|       Kidudumo|     Iringa|         11|            4|          Njombe|        Mdandu|        35|          True|              WUA|wanging'ombe wate...|  true|             1978|        gravity|              gravity|              gravity|             wua|      user-group|         pay monthly|     monthly|         soft|         good|         dry|           dry|               river|          river/lake|     surface|  communal standpipe|   communal standpipe|      non functional|2011|    7|  4|
|       0.0|              Unicef|    1656.0|                 DWE|34.56926611| -9.08551497|     Kwa Rose Chaula|          0|              Rufiji|         Yeriko|     Iringa|         11|            4|          Njombe|         Usuka|        50|          True|              WUA|wanging'ombe wate...|  true|             1978|        gravity|              gravity|              gravity|             wua|      user-group|pay when scheme f...|  on failure|         soft|         good|         dry|           dry|               river|          river/lake|     surface|  communal standpipe|   communal standpipe|      non functional|2011|    9|  4|
|       0.0|              Hesawa|    1162.0|                 DWE|32.92015381| -1.94786801|              Ngomee|          0|       Lake Victoria|         Center|     Mwanza|         19|            1|         Ukerewe|      Ilangala|      1000|          null|             null|                null|  true|             1999|          other|                other|                other|             vwc|      user-group|           never pay|   never pay|        milky|        milky|insufficient|  insufficient|              spring|              spring| groundwater|               other|                other|functional needs ...|2011|    7| 22|
|     500.0|              Danida|    1763.0|               Danid|34.50896732|  -9.8944125|                none|          0|          Lake Nyasa|       Manyanya|     Iringa|         11|            5|          Ludewa|       Mawengi|         1|          True|              VWC|              Makanj|  true|             1992|        gravity|              gravity|              gravity|             vwc|      user-group|        pay annually|    annually|         soft|         good|      enough|        enough|              spring|              spring| groundwater|  communal standpipe|   communal standpipe|          functional|2011|    2| 22|
+----------+--------------------+----------+--------------------+-----------+------------+--------------------+-----------+--------------------+---------------+-----------+-----------+-------------+----------------+--------------+----------+--------------+-----------------+--------------------+------+-----------------+---------------+---------------------+---------------------+----------------+----------------+--------------------+------------+-------------+-------------+------------+--------------+--------------------+--------------------+------------+--------------------+---------------------+--------------------+----+-----+---+
only showing top 20 rows

In [139]:

combined_data_df3.select([count(when(isnan(c) | col(c).isNull(), c)).alias(c) for c in combined_data_df3.columns]).show(truncate=False)

+----------+------+----------+---------+---------+--------+--------+-----------+-----+----------+------+-----------+-------------+---+----+----------+--------------+-----------------+-----------+------+-----------------+---------------+---------------------+---------------------+----------+----------------+-------+------------+-------------+-------------+--------+--------------+------+-----------+------------+---------------+---------------------+------------+----+-----+---+
|amount_tsh|funder|gps_height|installer|longitude|latitude|wpt_name|num_private|basin|subvillage|region|region_code|district_code|lga|ward|population|public_meeting|scheme_management|scheme_name|permit|construction_year|extraction_type|extraction_type_group|extraction_type_class|management|management_group|payment|payment_type|water_quality|quality_group|quantity|quantity_group|source|source_type|source_class|waterpoint_type|waterpoint_type_group|status_group|Year|Month|Day|
+----------+------+----------+---------+---------+--------+--------+-----------+-----+----------+------+-----------+-------------+---+----+----------+--------------+-----------------+-----------+------+-----------------+---------------+---------------------+---------------------+----------+----------------+-------+------------+-------------+-------------+--------+--------------+------+-----------+------------+---------------+---------------------+------------+----+-----+---+
|0         |3635  |0         |3655     |0        |0       |0       |0          |0    |371       |0     |0          |0            |0  |0   |0         |3334          |3877             |28166      |3056  |0                |0              |0                    |0                    |0         |0               |0      |0           |0            |0            |0       |0             |0     |0          |0           |0              |0                    |0           |0   |0    |0  |
+----------+------+----------+---------+---------+--------+--------+-----------+-----+----------+------+-----------+-------------+---+----+----------+--------------+-----------------+-----------+------+-----------------+---------------+---------------------+---------------------+----------+----------------+-------+------------+-------------+-------------+--------+--------------+------+-----------+------------+---------------+---------------------+------------+----+-----+---+

In [0]:
combined_data_df_final=combined_data_df3.fillna({'funder':'UNKNOWN','installer':'UNKNOWN','subvillage':'UNKNOWN','public_meeting':'UNKNOWN',\
                          'scheme_management':'UNKNOWN','scheme_name':'UNKNOWN','permit':'UNKNOWN',})

In [141]:
combined_data_df_final.show(truncate=False)

+----------+-----------------------+----------+--------------------+-----------+------------+----------------------+-----------+-----------------------+---------------+-----------+-----------+-------------+----------------+--------------+----------+--------------+-----------------+---------------------------+------+-----------------+---------------+---------------------+---------------------+----------------+----------------+---------------------+------------+-------------+-------------+------------+--------------+--------------------+--------------------+------------+---------------------------+---------------------+-----------------------+----+-----+---+
|amount_tsh|funder                 |gps_height|installer           |longitude  |latitude    |wpt_name              |num_private|basin                  |subvillage     |region     |region_code|district_code|lga             |ward          |population|public_meeting|scheme_management|scheme_name                |permit|construction_year|extraction_type|extraction_type_group|extraction_type_class|management      |management_group|payment              |payment_type|water_quality|quality_group|quantity    |quantity_group|source              |source_type         |source_class|waterpoint_type            |waterpoint_type_group|status_group           |Year|Month|Day|
+----------+-----------------------+----------+--------------------+-----------+------------+----------------------+-----------+-----------------------+---------------+-----------+-----------+-------------+----------------+--------------+----------+--------------+-----------------+---------------------------+------+-----------------+---------------+---------------------+---------------------+----------------+----------------+---------------------+------------+-------------+-------------+------------+--------------+--------------------+--------------------+------------+---------------------------+---------------------+-----------------------+----+-----+---+
|6000.0    |Roman                  |1390.0    |Roman               |34.93809275|-9.85632177 |none                  |0          |Lake Nyasa             |Mnyusi B       |Iringa     |11         |5            |Ludewa          |Mundindi      |109       |True          |VWC              |Roman                      |false |1999             |gravity        |gravity              |gravity              |vwc             |user-group      |pay annually         |annually    |soft         |good         |enough      |enough        |spring              |spring              |groundwater |communal standpipe         |communal standpipe   |functional             |2011|3    |14 |
|0.0       |Grumeti                |1399.0    |GRUMETI             |34.6987661 |-2.14746569 |Zahanati              |0          |Lake Victoria          |Nyamara        |Mara       |20         |2            |Serengeti       |Natta         |280       |UNKNOWN       |Other            |UNKNOWN                    |true  |2010             |gravity        |gravity              |gravity              |wug             |user-group      |never pay            |never pay   |soft         |good         |insufficient|insufficient  |rainwater harvesting|rainwater harvesting|surface     |communal standpipe         |communal standpipe   |functional             |2013|3    |6  |
|25.0      |Lottery Club           |686.0     |World vision        |37.46066446|-3.82132853 |Kwa Mahundi           |0          |Pangani                |Majengo        |Manyara    |21         |4            |Simanjiro       |Ngorika       |250       |True          |VWC              |Nyumba ya mungu pipe scheme|true  |2009             |gravity        |gravity              |gravity              |vwc             |user-group      |pay per bucket       |per bucket  |soft         |good         |enough      |enough        |dam                 |dam                 |surface     |communal standpipe multiple|communal standpipe   |functional             |2013|2    |25 |
|0.0       |Unicef                 |263.0     |UNICEF              |38.48616088|-11.15529772|Zahanati Ya Nanyumbu  |0          |Ruvuma / Southern Coast|Mahakamani     |Mtwara     |90         |63           |Nanyumbu        |Nanyumbu      |58        |True          |VWC              |UNKNOWN                    |true  |1986             |submersible    |submersible          |submersible          |vwc             |user-group      |never pay            |never pay   |soft         |good         |dry         |dry           |machine dbh         |borehole            |groundwater |communal standpipe multiple|communal standpipe   |non functional         |2013|1    |28 |
|0.0       |Action In A            |0.0       |Artisan             |31.13084671|-1.82535885 |Shuleni               |0          |Lake Victoria          |Kyanyamisa     |Kagera     |18         |1            |Karagwe         |Nyakasimbi    |0         |True          |UNKNOWN          |UNKNOWN                    |true  |0                |gravity        |gravity              |gravity              |other           |other           |never pay            |never pay   |soft         |good         |seasonal    |seasonal      |rainwater harvesting|rainwater harvesting|surface     |communal standpipe         |communal standpipe   |functional             |2011|7    |13 |
|20.0      |Mkinga Distric Coun    |0.0       |DWE                 |39.1727956 |-4.76558728 |Tajiri                |0          |Pangani                |Moa/Mwereme    |Tanga      |4          |8            |Mkinga          |Moa           |1         |True          |VWC              |Zingibali                  |true  |2009             |submersible    |submersible          |submersible          |vwc             |user-group      |pay per bucket       |per bucket  |salty        |salty        |enough      |enough        |other               |other               |unknown     |communal standpipe multiple|communal standpipe   |functional             |2011|3    |13 |
|0.0       |Dwsp                   |0.0       |DWSP                |33.36240982|-3.76636472 |Kwa Ngomho            |0          |Internal               |Ishinabulandi  |Shinyanga  |17         |3            |Shinyanga Rural |Samuye        |0         |True          |VWC              |UNKNOWN                    |true  |0                |swn 80         |swn 80               |handpump             |vwc             |user-group      |never pay            |never pay   |soft         |good         |enough      |enough        |machine dbh         |borehole            |groundwater |hand pump                  |hand pump            |non functional         |2012|10   |1  |
|0.0       |Rwssp                  |0.0       |DWE                 |32.62061707|-4.22619802 |Tushirikiane          |0          |Lake Tanganyika        |Nyawishi Center|Shinyanga  |17         |3            |Kahama          |Chambo        |0         |True          |UNKNOWN          |UNKNOWN                    |true  |0                |nira/tanira    |nira/tanira          |handpump             |wug             |user-group      |unknown              |unknown     |milky        |milky        |enough      |enough        |shallow well        |shallow well        |groundwater |hand pump                  |hand pump            |non functional         |2012|10   |9  |
|0.0       |Wateraid               |0.0       |Water Aid           |32.71110001|-5.14671181 |Kwa Ramadhan Musa     |0          |Lake Tanganyika        |Imalauduki     |Tabora     |14         |6            |Tabora Urban    |Itetemia      |0         |True          |VWC              |UNKNOWN                    |true  |0                |india mark ii  |india mark ii        |handpump             |vwc             |user-group      |never pay            |never pay   |salty        |salty        |seasonal    |seasonal      |machine dbh         |borehole            |groundwater |hand pump                  |hand pump            |non functional         |2012|11   |3  |
|0.0       |Isingiro Ho            |0.0       |Artisan             |30.62699053|-1.25705061 |Kwapeto               |0          |Lake Victoria          |Mkonomre       |Kagera     |18         |1            |Karagwe         |Kaisho        |0         |True          |UNKNOWN          |UNKNOWN                    |true  |0                |nira/tanira    |nira/tanira          |handpump             |vwc             |user-group      |never pay            |never pay   |soft         |good         |enough      |enough        |shallow well        |shallow well        |groundwater |hand pump                  |hand pump            |functional             |2011|8    |3  |
|0.0       |Private                |62.0      |Private             |39.20951812|-7.03413939 |Mzee Hokororo         |0          |Wami / Ruvu            |Mizugo         |Pwani      |60         |43           |Mkuranga        |Tambani       |345       |True          |Private operator |UNKNOWN                    |false |2011             |submersible    |submersible          |submersible          |private operator|commercial      |never pay            |never pay   |salty        |salty        |enough      |enough        |machine dbh         |borehole            |groundwater |other                      |other                |functional             |2011|2    |20 |
|200.0     |Danida                 |1062.0    |DANIDA              |35.77025785|-10.57417468|Kwa Alid Nchimbi      |0          |Lake Nyasa             |Ngondombwito   |Ruvuma     |10         |5            |Namtumbo        |Msindo        |250       |True          |WUG              |UNKNOWN                    |false |1987             |swn 80         |swn 80               |handpump             |wug             |user-group      |pay when scheme fails|on failure  |soft         |good         |insufficient|insufficient  |shallow well        |shallow well        |groundwater |hand pump                  |hand pump            |functional             |2013|2    |18 |
|0.0       |World Vision           |0.0       |World vision        |33.79810612|-3.2901938  |Pamba                 |0          |Internal               |Nkilifa        |Shinyanga  |17         |2            |Maswa           |Busilili      |0         |True          |WUG              |UNKNOWN                    |false |0                |nira/tanira    |nira/tanira          |handpump             |wug             |user-group      |other                |other       |soft         |good         |enough      |enough        |shallow well        |shallow well        |groundwater |hand pump                  |hand pump            |functional             |2012|10   |14 |
|0.0       |Lawatefuka Water Supply|1368.0    |Lawatefuka water sup|37.09257412|-3.1817833  |Kwa John Izack Mmari  |0          |Pangani                |Omarini        |Kilimanjaro|3          |7            |Siha            |Siha Kaskazini|1         |True          |Water Board      |BL Bondeni                 |true  |2009             |gravity        |gravity              |gravity              |water board     |user-group      |pay monthly          |monthly     |soft         |good         |enough      |enough        |spring              |spring              |groundwater |communal standpipe         |communal standpipe   |functional             |2013|3    |15 |
|0.0       |Biore                  |0.0       |WEDECO              |34.36407268|-3.62933335 |Mwabasabi             |0          |Internal               |Mwabasabi      |Shinyanga  |17         |6            |Meatu           |Nkoma         |0         |True          |WUG              |None                       |true  |0                |nira/tanira    |nira/tanira          |handpump             |wug             |user-group      |never pay            |never pay   |soft         |good         |enough      |enough        |shallow well        |shallow well        |groundwater |hand pump                  |hand pump            |functional             |2012|10   |20 |
|0.0       |Rudep                  |1645.0    |DWE                 |31.44412134|-8.27496163 |Kwa Juvenal Ching'Ombe|0          |Lake Tanganyika        |Tunzi          |Rukwa      |15         |2            |Sumbawanga Rural|Mkowe         |200       |True          |VWC              |UNKNOWN                    |false |1991             |swn 80         |swn 80               |handpump             |vwc             |user-group      |never pay            |never pay   |soft         |good         |enough      |enough        |machine dbh         |borehole            |groundwater |hand pump                  |hand pump            |functional             |2011|8    |4  |
|500.0     |Unicef                 |1703.0    |DWE                 |34.64243884|-9.10618458 |Kwa John Mtenzi       |0          |Rufiji                 |Kidudumo       |Iringa     |11         |4            |Njombe          |Mdandu        |35        |True          |WUA              |wanging'ombe water supply s|true  |1978             |gravity        |gravity              |gravity              |wua             |user-group      |pay monthly          |monthly     |soft         |good         |dry         |dry           |river               |river/lake          |surface     |communal standpipe         |communal standpipe   |non functional         |2011|7    |4  |
|0.0       |Unicef                 |1656.0    |DWE                 |34.56926611|-9.08551497 |Kwa Rose Chaula       |0          |Rufiji                 |Yeriko         |Iringa     |11         |4            |Njombe          |Usuka         |50        |True          |WUA              |wanging'ombe water supply s|true  |1978             |gravity        |gravity              |gravity              |wua             |user-group      |pay when scheme fails|on failure  |soft         |good         |dry         |dry           |river               |river/lake          |surface     |communal standpipe         |communal standpipe   |non functional         |2011|9    |4  |
|0.0       |Hesawa                 |1162.0    |DWE                 |32.92015381|-1.94786801 |Ngomee                |0          |Lake Victoria          |Center         |Mwanza     |19         |1            |Ukerewe         |Ilangala      |1000      |UNKNOWN       |UNKNOWN          |UNKNOWN                    |true  |1999             |other          |other                |other                |vwc             |user-group      |never pay            |never pay   |milky        |milky        |insufficient|insufficient  |spring              |spring              |groundwater |other                      |other                |functional needs repair|2011|7    |22 |
|500.0     |Danida                 |1763.0    |Danid               |34.50896732|-9.8944125  |none                  |0          |Lake Nyasa             |Manyanya       |Iringa     |11         |5            |Ludewa          |Mawengi       |1         |True          |VWC              |Makanj                     |true  |1992             |gravity        |gravity              |gravity              |vwc             |user-group      |pay annually         |annually    |soft         |good         |enough      |enough        |spring              |spring              |groundwater |communal standpipe         |communal standpipe   |functional             |2011|2    |22 |
+----------+-----------------------+----------+--------------------+-----------+------------+----------------------+-----------+-----------------------+---------------+-----------+-----------+-------------+----------------+--------------+----------+--------------+-----------------+---------------------------+------+-----------------+---------------+---------------------+---------------------+----------------+----------------+---------------------+------------+-------------+-------------+------------+--------------+--------------------+--------------------+------------+---------------------------+---------------------+-----------------------+----+-----+---+
only showing top 20 rows

In [142]:
### NO NULLs/NANs in the final dataframe
combined_data_df_final.select([count(when(isnan(c) | col(c).isNull(), c)).alias(c) for c in combined_data_df_final.columns]).show(truncate=False)

+----------+------+----------+---------+---------+--------+--------+-----------+-----+----------+------+-----------+-------------+---+----+----------+--------------+-----------------+-----------+------+-----------------+---------------+---------------------+---------------------+----------+----------------+-------+------------+-------------+-------------+--------+--------------+------+-----------+------------+---------------+---------------------+------------+----+-----+---+
|amount_tsh|funder|gps_height|installer|longitude|latitude|wpt_name|num_private|basin|subvillage|region|region_code|district_code|lga|ward|population|public_meeting|scheme_management|scheme_name|permit|construction_year|extraction_type|extraction_type_group|extraction_type_class|management|management_group|payment|payment_type|water_quality|quality_group|quantity|quantity_group|source|source_type|source_class|waterpoint_type|waterpoint_type_group|status_group|Year|Month|Day|
+----------+------+----------+---------+---------+--------+--------+-----------+-----+----------+------+-----------+-------------+---+----+----------+--------------+-----------------+-----------+------+-----------------+---------------+---------------------+---------------------+----------+----------------+-------+------------+-------------+-------------+--------+--------------+------+-----------+------------+---------------+---------------------+------------+----+-----+---+
|0         |0     |0         |0        |0        |0       |0       |0          |0    |0         |0     |0          |0            |0  |0   |0         |0             |0                |0          |0     |0                |0              |0                    |0                    |0         |0               |0      |0           |0            |0            |0       |0             |0     |0          |0           |0              |0                    |0           |0   |0    |0  |
+----------+------+----------+---------+---------+--------+--------+-----------+-----+----------+------+-----------+-------------+---+----+----------+--------------+-----------------+-----------+------+-----------------+---------------+---------------------+---------------------+----------+----------------+-------+------------+-------------+-------------+--------+--------------+------+-----------+------------+---------------+---------------------+------------+----+-----+---+